


.opentip strong {
    font-weight: bold;
}

.opentip i {
    font-style: italic;
}

.opentip div.ot-header  {
    font-family: 'UbuntuRegular', sans-serif;
    border-bottom: solid 1px lightgray;
    margin-bottom: 10px;
    padding-bottom: 3px;
    text-align: left;
}

.opentip div.ot-content {
    text-align: left;
    font-family: 'Raleway', sans-serif;
}

.opentip div.ot-content p {
    font-size: 10pt;
}

.opentip div.ot-content p:not(:last-child) {
    margin-bottom: 5px;
}

.opentip div.ot-header h1 {
    font-size: 16pt;
    font-weight: bold;
    line-height: 105%;
    margin: 0;
}

.axis {
    font: 11px sans-serif;
}

.legend {
    font: 12px sans-serif;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.scatter circle {
    fill:none;
    stroke: lightgray;
    stroke-width: 2px;
}

.scatter circle.significant {
    fill: #336699;
    stroke: #336699;
}

.voronoi polygon {
    fill: steelblue;
    stroke: darkblue;
    fill-opacity: 0.2;
    stroke-opacity: 0.5;
}

.voronoi polygon.invisible {
    fill: none;
    stroke: none;
    pointer-events: all;
}

.scatter circle.hover {
    fill: red;
    stroke: red;
}
