{% extends "base_website.html" %}

{% block title %}OncoFinder - a new biomathematical method for both quantitative and qualitative
analysis of the intracellular signaling pathway activation using
transcriptomic data {% endblock %}

{% block content %}

  <div class="jumbotron ws_banner">
   <div class="container">
    <div class="ws_banner_form_div">
      <form class="ws_banner_form" method="post" action="/signup">
        <input type="text" name="username" class="form-control" placeholder="Pick a username" />
        <input type="text" name="email" class="form-control" placeholder="Your email" />
        <input type="text" name="password" class="form-control" placeholder="Create a password" />
        <input type="submit" disabled="disabled" class="btn btn-lg btn-success" value="Sign up for OncoFinder" />
      </form>
      <!-- <p>
        clicking "Sign up for OncoFinder", you agree to our <a href="#">terms of service</a>
         and <a href="#">privacy policy</a>. 
      </p>-->
    </div>
    
    <div>  
      <h1>Welcome to OncoFinder</h1>
      <p>
         a new biomathematical method for both quantitative and qualitative <br/>
         analysis of the intracellular signaling pathway activation using <br/>transcriptomic data
      </p>
    </div>
   </div>
  </div>
<div class="container well">
  <div class="row">
        <div class="col-lg-4" >
          <p style="text-align:center;">
          <img class="img-circle" style="width:150px;" src="/static/images/biology_add.png" alt="Generic placeholder image">
          </p>
          <h2>More than 800 Pathways in Biochem Database</h2>
          <p>View pathways for cell signaling and metabolism in humans, as well as mouse signaling
              pathways. Determine the genes that are related to each signaling pathway and create 
              diagrams of the nodes and components of each pathway.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <p style="text-align:center;">
          <img class="img-circle" style="width:150px;" src="/static/images/e_learning_config.png" alt="Generic placeholder image">
          </p>
          <h2>Create and manage your Projects easily</h2>
          <p>Get a personal workspace that allows you to access your data anywhere. Organize your
             datasets into multiple projects so that related documents are kept together. Quantify your data
             by calculating pathway activation strength and drug score.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <p style="text-align:center;">
          <img class="img-circle" style="width:150px;" src="/static/images/laboratory_info.png" alt="Generic placeholder image">
          </p>
          <h2>More than 200 Drugs and increasing</h2>
          <p>View the gene targets and signaling pathways of each drug to determine effects on gene
             expression. Learn the typical dosage, side effects, and contraindications of a drug for
             information about their clinical use.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row --> 
      
       <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">OncoFinder v2.0 released <span class="text-muted">Now better and faster!</span></h2>
          <p class="lead">The OncoFinder algorithm is more accurate than ever. It minimizes the error rates for
                          comparing gene expression data obtained from multiple platforms by mapping gene
                          expression onto known signaling pathways, and results are calculated more quickly.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/static/images/oncoPicture.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/static/images/oncoPic2.png" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Download full reports <span class="text-muted">in one single file!</span></h2>
          <p class="lead">OncoFinder allows you to retrieve all your calculations at once. Once your output file is
                          generated, simply click the download button to get your report. Your output file may be
                          downloaded at any time.</p>
        </div>
      </div>     
</div>
{% endblock %}