<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title>Insilico portal login</title>
    
    <link rel="stylesheet" href="/static/css/bootstrap.css" type='text/css' />
    <link rel="stylesheet" href="/static/css/style.css" type='text/css' />    
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/static/js/jquery-2.1.0.min.js"></script>
</head>

<body>    
<div class="container">

  {% if form.errors %}
  <div class="alert alert-danger">
    <i class="glyphicon glyphicon-warning-sign"></i>
    Your username and password didn't match. Please try again.
  </div>
  {% endif %}
    
  <div class="panel panel-primary login_panel">
    <div class="panel-heading">
      <h3 class="panel-title">Sign in</h3>
    </div>
    <div class="panel-body">
     
       <form action="{% url 'django.contrib.auth.views.login' %}" method="post" enctype="multipart/form-data" id="login_form">
          {% csrf_token %}       

          {{ form.username.label_tag }}
          {{ form.username }}

          {{ form.password.label_tag }}
          {{ form.password }}
          <a href="#">Forgot password?</a>
          
           <input type="hidden" name="next" value="{{ next }}" />

 
    </div>
    <div class="panel-footer">
      <button class="btn btn-default">Sign in</button>
    </div>
  </div>
</div>
<script>
$(function() {
               $("#login_form > input").addClass("form-control");
});
</script>

</body>
</html>