<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Episkin Academy Report | Insilico Medicine</title>
    <link href="/static/bower_components/bootstrap-stylus/dist/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="//code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="/static/js/oncofinder2.js" type="text/javascript"></script>
    <script src="/static/bower_components/bootstrap-stylus/dist/bootstrap.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js" type="text/javascript"></script>
    <script src="/static/js/d3.v3.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="http://code.highcharts.com/highcharts.js" type="text/javascript"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"  type="text/javascript"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"  type="text/javascript"></script>
    <link href="/static/css/report_style.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.datatables.net/buttons/1.0.3/css/buttons.dataTables.min.css" rel="stylesheet">
    
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    
  </head>
  <body style='font-size: 14px;'>
    <div class="content h100">
      <div class="main">
        <div class="inner">
         <div>
         <span class='pull-left' style='font-size:11pt; margin:15px;'>
         <img src='/static/images/insilico.png' style="width:40px;"/>
         Insilico Medicine - Episkin Academy Report</span>
         <span class='pull-right' style='font-size:11pt; margin:15px;'>Access Level: Z-II, <br/>Confidential </span>
         </div><br style="clear:both;"/>
          <div class='text-center'>
            <h1>Using signalling pathway activation analysis to compare engineered and natural human skin</h1>
          </div>
          
          <div style="margin: 50px 0 0 50px;">
            <h4 style='font-weight:bold; font-size:12pt;'>Organization: </h4>
            <span style="font-size:11pt">Episkin Academy</span>
            <br/><br/>
            <!-- <h4 style='font-weight:bold; font-size:12pt;'>Data Quality Assessment: </h4>-->
            
            <ul class="list-unstyled" style='font-size: 11pt; margin: 50px 0 0 0;' >
            <li class="title">Table of contents: </li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#input_data">Input data</a></li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#methods">Methods</a></li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#gene_analysis">Gene level analysis</a></li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#path_analysis">Pathway analysis</a></li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#key_regulators">Key regulators</a></li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#references">References</a></li>
          </ul>
          
          
          <h1>Gene Analysis</h1>
          <hr/>
          <div>
          
          <!-- GENE Nav tabs -->
         <ul class="nav nav-tabs" role="tablist">
         <li role="presentation" class="active"><a href="#allgenes_tab" aria-controls="home1" role="tab" data-toggle="tab">ALL</a></li>
         <li role="presentation" ><a href="#nhk_tab" aria-controls="home" role="tab" data-toggle="tab">NHK</a></li>
         <li role="presentation"><a href="#type1_tab" aria-controls="profile" role="tab" data-toggle="tab">TYPE1</a></li>
         <li role="presentation"><a href="#type2_tab" aria-controls="messages" role="tab" data-toggle="tab">TYPE2</a></li>
         <li role="presentation"><a href="#type3_tab" aria-controls="settings" role="tab" data-toggle="tab">TYPE3</a></li>
         </ul>
         
         <!-- GENE Tab panes -->
  <div class="tab-content">
   <div role="tabpanel" class="tab-pane fade in active" id="allgenes_tab">
   <div id="genes-3d" style="min-width: 800px; height: 400px; max-width: 800px; margin: 0 auto"></div>
   
   
   </div>
  
    <div role="tabpanel" class="tab-pane fade " id="nhk_tab">
    
      <br/> 
          
          <!-- GENES NKK -->
          <div id="genes-nhk" style="min-width: 800px; height: 400px; max-width: 800px; margin: 0 auto">Loading plot...</div>
  <br/><br/>
  
  <h4>Table 1. L'Oreal_preprocessed_NHK</h4>
      <table id="tbl-gene-nhk" class="path table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
           <th>Gene</th>
           <th>log2FoldChange</th>
           <th>pval</th>
           <th>padj</th>
          </tr>
        </thead>  
      </table>
      <br/><br/>
      </div>
      
      <div role="tabpanel" class="tab-pane fade " id="type1_tab">
      <!-- GENES TYPE 1 -->
      <div id="genes-type1" style="min-width: 800px; height: 400px; max-width: 800px; margin: 0 auto">Loading plot...</div>
  <br/><br/>
  
  <h4>Table 2. L'Oreal_loreal_preprocessed_RhE (Type 1)</h4>
      <table id="tbl-gene-type1" class="path table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
           <th>Gene</th>
           <th>log2FoldChange</th>
           <th>pval</th>
           <th>padj</th>
          </tr>
        </thead>  
      </table> 
      <br/><br/>
      </div>
      
      <div role="tabpanel" class="tab-pane fade " id="type2_tab">
      <!-- GENES TYPE 2 -->
      <div id="genes-type2" style="min-width: 800px; height: 400px; max-width: 800px; margin: 0 auto">Loading plot...</div>
  <br/><br/>
  
  <h4>Table 3. L'Oreal_loreal_preprocessed_RhE (Type 2)</h4>
      <table id="tbl-gene-type2" class="path table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
           <th>Gene</th>
           <th>log2FoldChange</th>
           <th>pval</th>
           <th>padj</th>
          </tr>
        </thead>  
      </table> 
       <br/><br/>
       </div>
       
       <div role="tabpanel" class="tab-pane fade " id="type3_tab">
       <!-- GENES TYPE 3 -->
      <div id="genes-type3" style="min-width: 800px; height: 400px; max-width: 800px; margin: 0 auto">Loading plot...</div>
  <br/><br/>
  
  <h4>Table 4. L'Oreal_loreal_preprocessed_RhE (Type 3)</h4>
      <table id="tbl-gene-type3" class="path table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
           <th>Gene</th>
           <th>log2FoldChange</th>
           <th>pval</th>
           <th>padj</th>
          </tr>
        </thead>  
      </table> 
       <br/><br/>
     </div>
     
  </div> <!--  end of tabs GENE -->

 <hr/> 
<h1>Pathway Analysis</h1>
<hr/>
<h2>Signaling Pathways</h2>

 <!-- PAthway Nav tabs -->
         <ul class="nav nav-tabs" role="tablist">
         <li role="presentation" class="active"><a href="#all_tab" aria-controls="settings" role="tab" data-toggle="tab">ALL</a></li>
         <li role="presentation" ><a href="#nhk_type1_tab" aria-controls="home" role="tab" data-toggle="tab">NHK-TYPE1</a></li>
         <li role="presentation"><a href="#nhk_type2_tab" aria-controls="profile" role="tab" data-toggle="tab">NHK-TYPE2</a></li>
         <li role="presentation"><a href="#nhk_type3_tab" aria-controls="messages" role="tab" data-toggle="tab">NHK-TYPE3</a></li>
         <li role="presentation"><a href="#type1_type2_tab" aria-controls="settings" role="tab" data-toggle="tab">TYPE1-TYPE2</a></li>
         <li role="presentation"><a href="#type1_type3_tab" aria-controls="settings" role="tab" data-toggle="tab">TYPE1-TYPE3</a></li>
         <li role="presentation"><a href="#type2_type3_tab" aria-controls="settings" role="tab" data-toggle="tab">TYPE2-TYPE3</a></li>
         
         </ul>
         
         <!-- PATHWAY Tab panes -->
  <div class="tab-content">
  <!-- PATH ALL -->
    <div role="tabpanel" class="tab-pane fade in active" id="all_tab">     <br/> 
    <table style='text-align:center;'>
      <tr>
       <td>
       <div id="venn_path-all" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div> 
       Up and down regulated pathways
       </td>
       <td>
       <div id="venn_path-all-up" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div> 
       Up regulated pathways
       </td>
       <td>
       <div id="venn_path-all-down" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div> 
       Down regulated pathways
       </td>
      </tr>
    </table>        
    
  <div id="venn_path_dinamic" class="" style="max-width:1000px;"></div> <!--  div to place dinamic tables from Venn clicks -->
  
  <h4>Table 5. All</h4>
      <table id="tbl-all" class="path table table-striped table-bordered path-dinamic" cellspacing="0" width="100%">
        <thead>
          <tr>
           <th>Pathway Name</th>
           <th>NHK</th>
           <th>Type1</th>
           <th>Type2</th>
           <th>Type3</th>
          </tr>
        </thead>  
      </table>
      <br/><br/>
      </div>
  
    <!-- PATH NHK TYPE1 -->
    <div role="tabpanel" class="tab-pane fade " id="nhk_type1_tab">
    
      <br/> 
          
          
          <div id="path-nhk-type1" style="min-width: 800px; height: 400px; max-width: 800px; margin: 0 auto">Loading plot...</div>
  <hr/>
  <!--  <table style='text-align:center;'>
      <tr>
       <td>
       <div id="venn_path-nhk-type1" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div>
       Up and down regulated pathways
       </td>
       <td>
       <div id="venn_path-nhk-type1-up" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div> 
       Up regulated pathways
       </td>
       <td>
       <div id="venn_path-nhk-type1-down" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div> 
       Down regulated pathways
       </td>
      </tr>
    </table> -->
  <h4>Table 6. NHK vs Type1</h4>
      <table id="tbl-nhk-type1" class="path table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
           <th>Pathway Name</th>
           <th>NHK</th>
           <th>Type1</th>
          </tr>
        </thead>  
      </table>
      <br/><br/>
      </div>
      
      
      <!-- PATH NHK TYPE2 -->
    <div role="tabpanel" class="tab-pane fade " id="nhk_type2_tab">
     
          
          
          <div id="path-nhk-type2" style="min-width: 800px; height: 400px; max-width: 800px; margin: 0 auto">Loading plot...</div>
  <hr/>
  <!--  <table style='text-align:center;'>
      <tr>
       <td>
       <div id="venn_path-nhk-type2" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div> 
       Up and down regulated pathways
       </td>
       <td>
       <div id="venn_path-nhk-type2-up" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div> 
       Up regulated pathways
       </td>
       <td>
       <div id="venn_path-nhk-type2-down" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div> 
       Down regulated pathways
       </td>
      </tr>
    </table>-->
  <h4>Table 7. NHK vs Type2</h4>
      <table id="tbl-nhk-type2" class="path table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
           <th>Pathway Name</th>
           <th>NHK</th>
           <th>Type2</th>
          </tr>
        </thead>  
      </table>
      <br/><br/>
      </div>
      
      <!-- PATH NHK TYPE3 -->
    <div role="tabpanel" class="tab-pane fade " id="nhk_type3_tab">
    
      <br/> 
          
          
          <div id="path-nhk-type3" style="min-width: 800px; height: 400px; max-width: 800px; margin: 0 auto">Loading plot...</div>
  <hr/>
  
  <!--  <table style='text-align:center;'>
      <tr>
       <td>
       <div id="venn_path-nhk-type3" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div> 
       Up and down regulated pathways
       </td>
       <td>
       <div id="venn_path-nhk-type3-up" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div> 
       Up regulated pathways
       </td>
       <td>
       <div id="venn_path-nhk-type3-down" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div> 
       Down regulated pathways
       </td>
      </tr>
    </table>-->
  
  <h4>Table 8. NHK vs Type3</h4>
      <table id="tbl-nhk-type3" class="path table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
           <th>Pathway Name</th>
           <th>NHK</th>
           <th>Type3</th>
          </tr>
        </thead>  
      </table>
      <br/><br/>
      </div>
      
      <!-- PATH TYPE1 TYPE2 -->
    <div role="tabpanel" class="tab-pane fade " id="type1_type2_tab">
    
      <br/> 
          
          
          <div id="path-type1-type2" style="min-width: 800px; height: 400px; max-width: 800px; margin: 0 auto">Loading plot...</div>
  <hr/>
  
  <!--  <table style='text-align:center;'>
      <tr>
       <td>
       <div id="venn_path-type1-type2" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div> 
       Up and down regulated pathways
       </td>
       <td>
       <div id="venn_path-type1-type2-up" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div> 
       Up regulated pathways
       </td>
       <td>
       <div id="venn_path-type1-type2-down" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div> 
       Down regulated pathways
       </td>
      </tr>
    </table>-->
  
  <h4>Table 9. Type1 vs Type2</h4>
      <table id="tbl-type1-type2" class="path table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
           <th>Pathway Name</th>
           <th>Type1</th>
           <th>Type2</th>
          </tr>
        </thead>  
      </table>
      <br/><br/>
      </div>
      
      <!-- PATH TYPE1 TYPE3 -->
    <div role="tabpanel" class="tab-pane fade " id="type1_type3_tab">
    
      <br/> 
          
          
          <div id="path-type1-type3" style="min-width: 800px; height: 400px; max-width: 800px; margin: 0 auto">Loading plot...</div>
  <hr/>
  
  <!--  <table style='text-align:center;'>
      <tr>
       <td>
       <div id="venn_path-type1-type3" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div> 
       Up and down regulated pathways
       </td>
       <td>
       <div id="venn_path-type1-type3-up" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div> 
       Up regulated pathways
       </td>
       <td>
       <div id="venn_path-type1-type3-down" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div> 
       Down regulated pathways
       </td>
      </tr>
    </table>-->
  
  <h4>Table 10. Type1 vs Type3</h4>
      <table id="tbl-type1-type3" class="path table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
           <th>Pathway Name</th>
           <th>Type1</th>
           <th>Type3</th>
          </tr>
        </thead>  
      </table>
      <br/><br/>
      </div>
      
      
      <!-- PATH TYPE2 TYPE3 -->
    <div role="tabpanel" class="tab-pane fade " id="type2_type3_tab">
    
      <br/> 
          
          
          <div id="path-type2-type3" style="min-width: 800px; height: 400px; max-width: 800px; margin: 0 auto">Loading plot...</div>
  <hr/>
  
  <!--  <table style='text-align:center;'>
      <tr>
       <td>
       <div id="venn_path-type2-type3" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div> 
       Up and down regulated pathways
       </td>
       <td>
       <div id="venn_path-type2-type3-up" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div> 
       Up regulated pathways
       </td>
       <td>
       <div id="venn_path-type2-type3-down" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div> 
       Down regulated pathways
       </td>
      </tr>
    </table>-->
  
  <h4>Table 11. Type2 vs Type3</h4>
      <table id="tbl-type2-type3" class="path table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
           <th>Pathway Name</th>
           <th>Type2</th>
           <th>Type3</th>
          </tr>
        </thead>  
      </table>
      <br/><br/>
      </div>
      
      

</div></div>

<hr/>
<!-- ---------------------------- METABOLIC------------------------ -->
<h2>Metabolic Pathways</h2>
<hr/>
 <!-- Meabolic PAthway Nav tabs -->
         <ul class="nav nav-tabs" role="tablist">
         <li role="presentation" class="active"><a href="#meta_all_tab" aria-controls="settings" role="tab" data-toggle="tab">ALL</a></li>
         <li role="presentation" ><a href="#meta_nhk_type1_tab" aria-controls="home" role="tab" data-toggle="tab">NHK-TYPE1</a></li>
         <li role="presentation"><a href="#meta_nhk_type2_tab" aria-controls="profile" role="tab" data-toggle="tab">NHK-TYPE2</a></li>
         <li role="presentation"><a href="#meta_nhk_type3_tab" aria-controls="messages" role="tab" data-toggle="tab">NHK-TYPE3</a></li>
         <li role="presentation"><a href="#meta_type1_type2_tab" aria-controls="settings" role="tab" data-toggle="tab">TYPE1-TYPE2</a></li>
         <li role="presentation"><a href="#meta_type1_type3_tab" aria-controls="settings" role="tab" data-toggle="tab">TYPE1-TYPE3</a></li>
         <li role="presentation"><a href="#meta_type2_type3_tab" aria-controls="settings" role="tab" data-toggle="tab">TYPE2-TYPE3</a></li>
         
         </ul>
         
         <!-- Meabolic PATHWAY Tab panes -->
  <div class="tab-content">
  <!-- Meabolic PATH ALL -->
    <div role="tabpanel" class="tab-pane fade in active" id="meta_all_tab">     <br/> 
          
  <table style='text-align:center;'>
      <tr>
       <td>
       <div id="venn_meta-all" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div> 
       Up and down regulated pathways
       </td>
       <td>
       <div id="venn_meta-all-up" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div> 
       Up regulated pathways
       </td>
       <td>
       <div id="venn_meta-all-down" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div> 
       Down regulated pathways
       </td>
      </tr>
    </table>
  <div id="venn_meta_dinamic" class="" style="max-width:1000px;"></div> <!--  div to place dinamic tables from Venn clicks -->
  <h4>Table 12. All</h4>
      <table id="meta_tbl-all" class="path table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
           <th>Pathway Name</th>
           <th>NHK</th>
           <th>Type1</th>
           <th>Type2</th>
           <th>Type3</th>
          </tr>
        </thead>  
      </table>
      <br/><br/>
      </div>
  
    <!-- Meabolic PATH NHK TYPE1 -->
    <div role="tabpanel" class="tab-pane fade " id="meta_nhk_type1_tab">
    
      <br/> 
          
          
     <div id="meta_path-nhk-type1" style="min-width: 800px; height: 400px; max-width: 800px; margin: 0 auto">Loading plot...</div>
  
  <!--  <table style='text-align:center;'>
      <tr>
       <td>
       <div id="venn_meta-nhk-type1" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div>
       Up and down regulated pathways
       </td>
       <td>
       <div id="venn_meta-nhk-type1-up" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div> 
       Up regulated pathways
       </td>
       <td>
       <div id="venn_meta-nhk-type1-down" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div> 
       Down regulated pathways
       </td>
      </tr>
    </table>-->
    
  <h4>Table 13. NHK vs Type1</h4>
      <table id="meta_tbl-nhk-type1" class="path table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
           <th>Pathway Name</th>
           <th>NHK</th>
           <th>Type1</th>
          </tr>
        </thead>  
      </table>
      <br/><br/>
      </div>
      
      
      <!-- PATH NHK TYPE2 -->
    <div role="tabpanel" class="tab-pane fade " id="meta_nhk_type2_tab">
    
      <br/> 
          
          
  <div id="meta_path-nhk-type2" style="min-width: 800px; height: 400px; max-width: 800px; margin: 0 auto">Loading plot...</div>
  
  <!--  <table style='text-align:center;'>
      <tr>
       <td>
       <div id="venn_meta-nhk-type2" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div>
       Up and down regulated pathways
       </td>
       <td>
       <div id="venn_meta-nhk-type2-up" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div> 
       Up regulated pathways
       </td>
       <td>
       <div id="venn_meta-nhk-type2-down" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div> 
       Down regulated pathways
       </td>
      </tr>
    </table>-->
    
  <h4>Table 14. NHK vs Type2</h4>
      <table id="meta_tbl-nhk-type2" class="path table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
           <th>Pathway Name</th>
           <th>NHK</th>
           <th>Type2</th>
          </tr>
        </thead>  
      </table>
      <br/><br/>
      </div>
      
      <!-- Meabolic PATH NHK TYPE3 -->
    <div role="tabpanel" class="tab-pane fade " id="meta_nhk_type3_tab">
    
      <br/> 
          
          
  <div id="meta_path-nhk-type3" style="min-width: 800px; height: 400px; max-width: 800px; margin: 0 auto">Loading plot...</div>
  
  <!--  <table style='text-align:center;'>
      <tr>
       <td>
       <div id="venn_meta-nhk-type3" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div>
       Up and down regulated pathways
       </td>
       <td>
       <div id="venn_meta-nhk-type3-up" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div> 
       Up regulated pathways
       </td>
       <td>
       <div id="venn_meta-nhk-type3-down" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div> 
       Down regulated pathways
       </td>
      </tr>
    </table>-->
    
  <h4>Table 15. NHK vs Type3</h4>
      <table id="meta_tbl-nhk-type3" class="path table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
           <th>Pathway Name</th>
           <th>NHK</th>
           <th>Type3</th>
          </tr>
        </thead>  
      </table>
      <br/><br/>
      </div>
      
      <!-- Meabolic PATH TYPE1 TYPE2 -->
    <div role="tabpanel" class="tab-pane fade " id="meta_type1_type2_tab">
    
      <br/> 
          
          
  <div id="meta_path-type1-type2" style="min-width: 800px; height: 400px; max-width: 800px; margin: 0 auto">Loading plot...</div>
  
  <!--  <table style='text-align:center;'>
      <tr>
       <td>
       <div id="venn_meta-type1-type2" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div>
       Up and down regulated pathways
       </td>
       <td>
       <div id="venn_meta-type1-type2-up" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div> 
       Up regulated pathways
       </td>
       <td>
       <div id="venn_meta-type1-type2-down" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div> 
       Down regulated pathways
       </td>
      </tr>
    </table>-->
  <h4>Table 16. Type1 vs Type2</h4>
      <table id="meta_tbl-type1-type2" class="path table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
           <th>Pathway Name</th>
           <th>Type1</th>
           <th>Type2</th>
          </tr>
        </thead>  
      </table>
      <br/><br/>
      </div>
      
      <!-- Meabolic PATH TYPE1 TYPE3 -->
    <div role="tabpanel" class="tab-pane fade " id="meta_type1_type3_tab">
    
      <br/> 
          
          
  <div id="meta_path-type1-type3" style="min-width: 800px; height: 400px; max-width: 800px; margin: 0 auto">Loading plot...</div>
 
  <!--  <table style='text-align:center;'>
      <tr>
       <td>
       <div id="venn_meta-type1-type3" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div>
       Up and down regulated pathways
       </td>
       <td>
       <div id="venn_meta-type1-type3-up" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div> 
       Up regulated pathways
       </td>
       <td>
       <div id="venn_meta-type1-type3-down" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div> 
       Down regulated pathways
       </td>
      </tr>
    </table>-->
  <h4>Table 17. Type1 vs Type3</h4>
      <table id="meta_tbl-type1-type3" class="path table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
           <th>Pathway Name</th>
           <th>Type1</th>
           <th>Type3</th>
          </tr>
        </thead>  
      </table>
      <br/><br/>
      </div>
      
      
      <!--Meabolic  PATH TYPE2 TYPE3 -->
    <div role="tabpanel" class="tab-pane fade " id="meta_type2_type3_tab">
    
      <br/> 
          
          
  <div id="meta_path-type2-type3" style="min-width: 800px; height: 400px; max-width: 800px; margin: 0 auto">Loading plot...</div>
  
  <!--  <table style='text-align:center;'>
      <tr>
       <td>
       <div id="venn_meta-type2-type3" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div>
       Up and down regulated pathways
       </td>
       <td>
       <div id="venn_meta-type2-type3-up" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div> 
       Up regulated pathways
       </td>
       <td>
       <div id="venn_meta-type2-type3-down" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto">Loading diagram...</div> 
       Down regulated pathways
       </td>
      </tr>
    </table>-->
  <h4>Table 18. Type2 vs Type3</h4>
      <table id="meta_tbl-type2-type3" class="path table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
           <th>Pathway Name</th>
           <th>Type2</th>
           <th>Type3</th>
          </tr>
        </thead>  
      </table>
      <br/><br/>
      </div>
      
      

</div>
<hr/>
<h1>Public domain screening</h1>
<hr/>
<a href='/static/report/loreal/public-domain.jpg' target=' _blank'>
<img src='/static/report/loreal/public-domain.jpg' style="width:95%"/>
</a><hr/>
<img src='/static/report/loreal/ECM_corplot.png' style='width:95%' /><hr/><br/>
<img src='/static/report/loreal/GF.png' style='width:95%' /><hr/><br/>
<img src='/static/report/loreal/All_genes.png' style='width:95%' /><hr/><br/>


</div>


<div style='min-height:500px'></div>
            
          </div>
          
          
          
        </div>
      </div>
      
    </div>
    <div class="bar" style="heigh:100%">
      <div class="inner h100" style="heigh:100%">
        <div class="top"><img src="/static/images/logo.svg"></div>
        <div class="menu">
          <ul class="list-unstyled" >
            <li class="title">Table of contents: </li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#input_data">Input data</a></li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#methods">Methods</a></li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#gene_analysis">Gene level analysis</a></li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#path_analysis">Pathway analysis</a></li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#key_regulators">Key regulators</a></li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#references">References</a></li>
          </ul>
        </div>
        <div class="bottom">
          <div class="inner"> Insilico Medicine Inc., Johns Hopkins <br/>University Eastern, ETC B301, 1101 East <br/>33rd Street, Baltimore, MD 21218 </div>
        </div>
      </div>
    </div>
    
    
    <script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/buttons/1.1.0/js/dataTables.buttons.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/buttons/1.1.0/js/buttons.bootstrap.min.js" type="text/javascript"></script>
    <script src="//cdn.datatables.net/buttons/1.1.0/js/buttons.flash.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js" type="text/javascript"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js" type="text/javascript"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js" type="text/javascript"></script>
    <script src="//cdn.datatables.net/buttons/1.1.0/js/buttons.html5.min.js" type="text/javascript"></script>
    <script src="//cdn.datatables.net/buttons/1.1.0/js/buttons.print.min.js" type="text/javascript"></script>
    
    <script src="/static/report/loreal/js/venn.js/venn.js" type="text/javascript"></script>
    <script src="/static/report/loreal/js/tables.js" type="text/javascript"></script>
    <script src="/static/report/loreal/js/scatter.js" type="text/javascript"></script>
    <script src="/static/report/loreal/js/3d.js" type="text/javascript"></script>
    <script src="/static/report/loreal/js/venn-diagram.js" type="text/javascript"></script>
    
    
    
    
    <!-- MODAL FOR PATHS  -->
    <div id="pathmodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;  </button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body" id='modalBody'>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    
    <!--
    script.
      $(function () {
        svgPanZoom('#pathway', {
          zoomEnabled: true,
          controlIconsEnabled: true,
          fit: true,
          center: true
        });
      });
    -->
  </body>
</html>