{% extends "base_profiles.html" %}

{% block title %}{{treatment.name}} | OncoFinder v2.0{% endblock %}

{% block content %}
<div class="container">
        <h1>{{treatment.name}}</h1>
        <div class="text-muted">
        Cancer type: {{treatment.nosology}}
        </div>
    <span class='pull-right'>
       <a href='{{ request.META.HTTP_REFERER }}'><<< back to treatment methods list</a>
    </span>
    <hr/>
   <div id="tabs">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#fragment-1" data-toggle="tab"><span>Information </span></a></li>
        <li ><a href="#fragment-2" data-toggle="tab"><span>Probability Table </span></a></li>
        <li><a href="#fragment-3" data-toggle="tab"><span>PAS1 Table</span></a></li>
        <li ><a href="#fragment-4" data-toggle="tab"><span>Histogram</span></a></li>
        <li ><a href="#fragment-5" data-toggle="tab"><span>Statistical Tables</span></a></li>
        <li ><a href="#fragment-6" data-toggle="tab"><span>10% window method</span></a></li>
    </ul>

<div id="tabContent" class="tab-content">
<div id="fragment-1" class="tab-pane in active fade  well">

      <div><strong>Name:</strong> {{treatment.name}}</div>
      <div><strong>Number of patients:</strong> {{treatment.num_of_patients}}</div>
      <div><strong>Histological type:</strong> {{treatment.histological_type}}</div>
      <div><strong>Grade:</strong> {{treatment.grade}}</div>
      <div><strong>Hormone receptor status:</strong> {{treatment.hormone_receptor_status}}</div>
      <div><strong>HER2 status:</strong> {{treatment.her2_status}}</div>
      <div><strong>Stage:</strong> {{treatment.stage}}</div>
      <div><strong>Treatment:</strong> {{treatment.treatment}}</div>
      <div><strong>Citation(s):</strong> {{treatment.citation}}</div>
      <div><strong>Organization name:</strong> {{treatment.organization_name}}</div>
      


</div>
<div id="fragment-2" class="tab-pane fade  well">
{{prob|safe}}
</div>
<div id="fragment-3" class="tab-pane fade well">
{{PMS1|safe}}
</div> 
<div id="fragment-4" class="tab-pane fade well">

<p>Specificity = {{specificity|floatformat:"-2"}}</p>
<p>Sensitivity = {{sensitivity|floatformat:"-2"}}</p>
<p>Balanced Accuracy = {{AUC|floatformat:"-2"}}</p>
Accuracy = {{accuracy|floatformat:"-2"}}
<hr/>
<p>Best Specificity at {{bSPkey|floatformat:"-2"}} = {{bSPVal|floatformat:"-2"}}</p>
<p>Best Sensitivity at {{bSnkey|floatformat:"-2"}} = {{bSnVal|floatformat:"-2"}}</p>
<p>Best Balanced Accuracy at {{bBalkey|floatformat:"-2"}} = {{bBalVal|floatformat:"-2"}}</p>
<p>Best Accuracy at {{bAcckey|floatformat:"-2"}} = {{bAccVal|floatformat:"-2"}}</p>

  <div id="container" style="width:900px; height:400px;">


  </div>

  <table class="table pull-left" style="width: 300px;">
  <caption>Non-responders</caption>
  <tr><th>num Responder Votes / all votes</th>
    <th>percentage of non-responders </th>
  </tr>
  {% for key, value in nres.items  %}
  <tr>
               <td>{{key|floatformat:"-2"}}</td><td>{{value|floatformat:"-2"}}</td>
  </tr>
               {%endfor%} 

  </table>

  <table class="table pull-right" style="width: 300px;">
  <caption>Responders</caption>
  <tr><th>num Responder Votes / all votes</th>
    <th>percentage of responders </th>
  </tr>
  {% for key, value in res.items  %}
  <tr>
               <td>{{key|floatformat:"-2"}}</td><td>{{value|floatformat:"-2"}}</td>
  </tr>
               {%endfor%} 

  </table>

</div>

<div id="fragment-5" class="tab-pane fade well">
Sensitivity:
<table class="table" style="width: 200px">
<tr><th>threshold</th><th>Value</th></tr>
{% for threshold, value in dSn.items %}
<tr>
  <td>{{threshold|floatformat:"-2"}}</td>
  <td>{{value|floatformat:"-2"}}</td>
</tr>
{%endfor%}
</table>

Specificity:
<table class="table" style="width: 200px">
<tr><th>threshold</th><th>Value</th></tr>
{% for threshold, value in dSp.items %}
<tr>
  <td>{{threshold|floatformat:"-2"}}</td>
  <td>{{value|floatformat:"-2"}}</td>
</tr>
{%endfor%}
</table>

Balanced accuracy:
<table class="table" style="width: 200px">
<tr><th>threshold</th><th>Value</th></tr>
{% for threshold, value in dBalnc.items %}
<tr>
  <td>{{threshold|floatformat:"-2"}}</td>
  <td>{{value|floatformat:"-2"}}</td>
</tr>
{%endfor%}
</table>

Accuracy:
<table class="table" style="width: 200px">
<tr><th>threshold</th><th>Value</th></tr>
{% for threshold, value in dAccur.items %}
<tr>
  <td>{{threshold|floatformat:"-2"}}</td>
  <td>{{value|floatformat:"-2"}}</td>
</tr>
{%endfor%}
</table>

</div> 

<div id="fragment-6" class="tab-pane fade well">
<p>Specificity = {{new_specificity|floatformat:"-2"}}</p>
<p>Sensitivity = {{new_sensitivity|floatformat:"-2"}}</p>
<p>Balanced Accuracy = {{new_AUC|floatformat:"-2"}}</p>
Accuracy = {{new_accuracy|floatformat:"-2"}}
<hr/>
  <div id="container4" style="width:900px; height:400px;">

  </div>

</div>
</div>
</div>


</div>
<style>
#fragment-1 div {margin: 10px 0;}

</style>
<script>

$(function () {
    $('#container').highcharts({
    	chart: {
            type: 'column'
        },
        title: {
            text: 'Responders/non-responders histogram'
        },
        xAxis: {
        	title: {
        		text: 'Response score'
        	},
        	min: 0,
        	max: 1,
        	tickInterval: 0.1,
            minPadding: 0.05,
            maxPadding: 0.05
        },
        
        yAxis:{
        	 title: {
                 text: "Ratio of patients(%)"
             }
        },

        series: [{
        	name: 'Non-responders',
        	color: '#434348',
            data: [
               {% for key, value in nres.items  %}
                [{{key|floatformat:"-2"}}, {{value|floatformat:"-2"}}],
               {%endfor%} 
            ]
        },{
        name: 'Responders',
        color: '#7cb5ec',
        data: [
			{% for key, value in res.items  %}
			[{{key|floatformat:"-2"}}, {{value|floatformat:"-2"}}],
			{%endfor%} 
               ]}]
    });
});



$(function () {
    $('#container4').highcharts({
    	chart: {
            type: 'column'
        },
        title: {
            text: 'Responders/non-responders graph'
        },
        xAxis: {
        	title: {
        		text: 'Response score'
        	},
        	min: 0,
        	max: 1,
        	tickInterval: 0.1,
            minPadding: 0.05,
            maxPadding: 0.05
        },
        
        yAxis:{
        	 title: {
                 text: "Ratio of patients(%)"
             }
        },

        series: [{
        	name: 'Non-responders',
        	color: '#434348',
            data: [
               {% for key, value in new_nres.items  %}
                [{{key|floatformat:"-2"}}, {{value|floatformat:"-2"}}],
               {%endfor%} 
            ]
        },{
        name: 'Responders',
        color: '#7cb5ec',
        data: [
			{% for key, value in new_res.items  %}
			[{{key|floatformat:"-2"}}, {{value|floatformat:"-2"}}],
			{%endfor%} 
               ]}]
    });
});


</script>
{% endblock %}