{% extends "base_profiles.html" %}

{% block title %}{{treatment.name}} | OncoFinder v2.0{% endblock %}

{% block content %}
<div class="container">
        <h1>{{treatment.name}}</h1>
        <div class="text-muted">
        Nosology = {{treatment.nosology}}
        </div>
    <span class='pull-right'>
       <a href='{{ request.META.HTTP_REFERER }}'><<< back to treatment methods list</a>
    </span>
    <hr/>
   <div id="tabs">
    <ul class="nav nav-tabs">
        <li ><a href="#fragment-1" data-toggle="tab"><span>Probability Table </span></a></li>
        <li><a href="#fragment-2" data-toggle="tab"><span>PAS1 Table</span></a></li>
        <li class="active"><a href="#fragment-3" data-toggle="tab"><span>Graphic Scheme</span></a></li>
    </ul>
<div id="tabContent" class="tab-content">
<div id="fragment-1" class="tab-pane fade  well">
{{prob|safe}}
</div>
<div id="fragment-2" class="tab-pane fade well">
{{PMS1|safe}}
</div> 
<div id="fragment-3" class="tab-pane in active fade">

<div id="container" style="width:900px; height:400px;">


</div>

<table class="table pull-left" style="width: 300px;">
<caption>NonResponders</caption>
<tr><th>num Responder Votes / all votes</th>
    <th>persantage of nonresponders </th>
</tr>
{% for key, value in nres.items  %}
<tr>
               <td>{{key}}</td><td>{{value}}</td>
</tr>
               {%endfor%} 

</table>

<table class="table pull-right" style="width: 300px;">
<caption>Responders</caption>
<tr><th>num Responder Votes / all votes</th>
    <th>persantage of responders </th>
</tr>
{% for key, value in res.items  %}
<tr>
               <td>{{key}}</td><td>{{value}}</td>
</tr>
               {%endfor%} 

</table>

</div>
</div>

</div>


</div>
<script>

$(function () {
    $('#container').highcharts({
    	chart: {
            type: 'column'
        },
        title: {
            text: 'Responders-nonresponders histogram'
        },
        xAxis: {
        	title: {
        		text: 'Success score'
        	},
            minPadding: 0.05,
            maxPadding: 0.05
        },
        
        yAxis:{
        	 title: {
                 text: "Ratio of patients(%)"
             }
        },

        series: [{
        	name: 'NonResponders',
            data: [
               {% for key, value in nres.items  %}
                [{{key}}, {{value}}],
               {%endfor%} 
            ]
        },{
        name: 'Responders',
        data: [
			{% for key, value in res.items  %}
			[{{key}}, {{value}}],
			{%endfor%} 
               ]}]
    });
});

</script>
{% endblock %}