{% extends "base_profiles.html" %}

{% block title %}{{treatment.name}} | OncoFinder v2.0{% endblock %}

{% block content %}
<div class="container">
        <h1>{{treatment.name}}</h1>
        <div class="text-muted">
        Cancer type = {{treatment.nosology}}
        </div>
    <span class='pull-right'>
       <a href='{{ request.META.HTTP_REFERER }}'><<< back to treatment methods list</a>
    </span>
    <button type="button" id="export" class="btn btn-primary" >Save report</button>
    <hr/>
   <div id="tabs">
    <ul class="nav nav-tabs">
        <li ><a href="#fragment-1" data-toggle="tab"><span>Information </span></a></li>
        <li class="active"><a href="#fragment-4" data-toggle="tab"><span>Histogram</span></a></li>
        
    </ul>
<div id="tabContent" class="tab-content">
<div id="fragment-1" class="tab-pane fade  well">
      <div id="t_name"><strong>Name:</strong> {{treatment.name}}</div>
      <div id="t_n_patients"><strong>Number of patients:</strong> {{treatment.num_of_patients}}</div>
      <div id="t_hist"><strong>Histological type:</strong> {{treatment.histological_type}}</div>
      <div id="t_grade"><strong>Grade:</strong> {{treatment.grade}}</div>
      <div id="t_hormone"><strong>Hormone receptor status:</strong> {{treatment.hormone_receptor_status}}</div>
      <div id="t_her2"><strong>HER2 status:</strong> {{treatment.her2_status}}</div>
      <div id="t_stage"><strong>Stage:</strong> {{treatment.stage}}</div>
      <div id="t_treatment"><strong>Treatment:</strong> {{treatment.treatment}}</div>
      <div id="t_cit"><strong>Citation(s):</strong> {{treatment.citation}}</div>
      <div id="t_org"><strong>Organization name:</strong> {{treatment.organization_name}}</div>
</div>
<div id="fragment-4" class="tab-pane in active fade">
    <h4>
      <div style="float:left; width:15px; height:15px; background-color: red"></div>&nbsp; - 
      Patient is a {%if flag_responder == 0%}non-{%endif%}responder. 
    </h4>
<div id="container1">    
<div id="container" style="width:900px; height:500px;">


</div>


<script>
var chart

$(function(){
	$('#export').click(function() {
	    Highcharts.exportToDoc(chart);
	});
	});

Highcharts.exportToDoc = function(chart, options){
	var t_name = $("#t_name").text();
	var t_n_patients = $("#t_n_patients").text();
	var t_hist = $("#t_hist").text();
	var t_grade = $("#t_grade").text();
	var t_hormone = $("#t_hormone").text();
	var t_her2 = $("#t_her2").text();
	var t_stage = $("#t_stage").text();
	var t_treatment = $("#t_treatment").text();
	var t_cit = $("#t_cit").text();
	var t_org = $("#t_org").text();
	var svg = chart.getSVG();
	
	var url = '/medic/generatereport/'
	
	var inputs = '';
	inputs+= '<input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}" />';
	inputs+= '<input type="hidden" name="t_name" value="'+ t_name +'" />';
	inputs+= '<input type="hidden" name="t_n_patients" value="'+ t_n_patients +'" />'; 
	inputs+= '<input type="hidden" name="t_hist" value="'+ t_hist +'" />'; 
	inputs+= '<input type="hidden" name="t_grade" value="'+ t_grade +'" />'; 
	inputs+= '<input type="hidden" name="t_hormone" value="'+ t_hormone +'" />'; 
	inputs+= '<input type="hidden" name="t_her2" value="'+ t_her2 +'" />'; 
	inputs+= '<input type="hidden" name="t_stage" value="'+ t_stage +'" />'; 
	inputs+= '<input type="hidden" name="t_treatment" value="'+ t_treatment +'" />'; 
	inputs+= '<input type="hidden" name="t_cit" value="'+ t_cit +'" />'; 
	inputs+= '<input type="hidden" name="t_org" value="'+ t_org +'" />';
	inputs+= "<input type='hidden' name='svg' value='"+ svg.replace(/["]/g, "&quot;").replace(/[']/g, "&#39;") +"' />";
	
	//send request
    jQuery('<form action="'+ url +'" method="post">'+inputs+'</form>')
    .appendTo('body').submit().remove();
	
	
};

$(function () {
    chart =  new Highcharts.Chart({
    	chart: {
    		renderTo: 'container',
            type: 'column'
        },
        title: {
            text: '{{treatment.treatment|safe}}'
        },
        subtitle: {
            text: 'Patient is a {%if flag_responder == 0%}non-{%endif%}responder. \
                   Response score = {{patient_votes|floatformat:"-2"}} \
                   Accuracy = {{reliability|floatformat:"-2" }}'
        },
        
        legend: {
        	   
        	},
        
        xAxis: {
        	title: {
        		text: 'Response score'
        	},
        	min: 0,
        	max: 1,
        	tickInterval: 0.1,
        	gridLineWidth: 1,
            minPadding: 0.05,
            maxPadding: 0.05
        },
        
        yAxis:{
        	 title: {
                 text: "Ratio of patients(%)"
             }
        },

        series: [{
        	name: 'Non-responders',
        	color: '#434348',
            data: [
               {% for key, value in nres.items  %}
                {% if key == patient_votes and flag_responder == 0%}
                {x:{{key|floatformat:"-2"}}, y:{{value|floatformat:"-2"}}, color:'red'},
                {% else %}
                {x:{{key|floatformat:"-2"}}, y:{{value|floatformat:"-2"}}},
                {%endif%}
                
               {%endfor%} 
            ]
        },{
        name: 'Responders',
        color: '#7cb5ec',
        data: [
			{% for key, value in res.items  %}
			{% if key == patient_votes and flag_responder == 1%}
            {x:{{key|floatformat:"-2"}}, y:{{value|floatformat:"-2"}}, color:'red'},
            {% else %}
            {x:{{key|floatformat:"-2"}}, y:{{value|floatformat:"-2"}}},
            {%endif%}
			{%endfor%} 
               ]}]
    });
});





</script>
</div>




<table class="table pull-left" style="width: 300px;" >
<caption>Non-responders</caption>
<tr><th>num Responder Votes / all votes</th>
    <th>percentage of non-responders </th>
</tr>
{% for key, value in nres.items  %}
<tr>
               <td>{{key|floatformat:"-2"}}</td><td>{{value|floatformat:"-2"}}</td>
</tr>
               {%endfor%} 

</table>
<table style="display:none" id="hiddenNres">

{% for key, value in nres.items  %}
<tr>
               <td>{{key|floatformat:"-2"}}</td><td>{{value|floatformat:"-2"}}</td>
</tr>
               {%endfor%} 

</table>

<table class="table pull-right" style="width: 300px;">
<caption>Responders</caption>
<tr><th>num Responder Votes / all votes</th>
    <th>percentage of responders </th>
</tr>
{% for key, value in res.items  %}
<tr>
               <td>{{key|floatformat:"-2"}}</td><td>{{value|floatformat:"-2"}}</td>
</tr>
               {%endfor%} 

</table>

<table style="display:none" id="hiddenRes">

{% for key, value in res.items  %}
<tr>
               <td>{{key|floatformat:"-2"}}</td><td>{{value|floatformat:"-2"}}</td>
</tr>
               {%endfor%} 

</table>

</div>






</div>
</div>


</div>
<style>
#fragment-1 div {margin: 10px 0;}

</style>

{% endblock %}