{% extends "base_profiles.html" %}

{% block title %}Full report | OncoFinder v2.0{% endblock %}

{% block content %}


<div class="container">
  <h2>
    <span class="glyphicon glyphicon-user"></span>
    <a href="/user/{{document.project.owner}}">{{document.project.owner}}</a> /
     <span class="glyphicon glyphicon-folder-open"></span>&nbsp; 
     <a href="/project/{{document.project}}">{{document.project}}</a> /
     <span class="glyphicon glyphicon-file"></span>
     <small><a href="/document/doc{{document.id}}/">{{document.get_filename}}</a></small>
     <span class="text-muted">| <small>{{document.get_doc_type_display}}</small></span> 
  </h2>
  <span class="text-muted">
    Created at: {{document.created_at}}<br/>
    By: {{document.created_by}}<br/> 
   </span>
      
           
  <hr/>

<span class='pull-right'>
       <a href='{{ request.META.HTTP_REFERER }}'><<< back to treatment methods list</a>
    </span>

<h1>Full report</h1>
<button type="button" id="export" class="btn btn-primary" style="display:none">Save report</button>
<h2 id="wait">Please wait while the report is generated... 
<img src="/static/images/ajax-loader.gif" id="loader" style="margin: 0px 0 0 0;"  />
</h2>

<div style='display:block' id='treatmentTblDiv'>

<table class='table table-striped table-bordered' id='treatmentTbl'>
  <tr>
    <th>#</th>
    <th>Treatment</th>
    <th>ER/HER</th>
    <th>Response status</th>
    <th>Accuracy</th>
  </tr>


</table>

</div>

<div style="display: block" id="reportDiv" >
{%for treatment in treatments%}
<div id="treatmentDetails{{treatment.id}}"></div>
<div id="treatDiv{{treatment.id}}" style="margin: 30px; width:1000px;"></div>
<script>
var chart{{treatment.id}}
$(function(){
	
	chart{{treatment.id}} = new Highcharts.Chart({
    	chart: {
            type: 'column',
            renderTo: 'treatDiv{{treatment.id}}',
            events: {
                load: requestData{{treatment.id}}
            }
        },
        title: {
            text: 'title'
        },
        subtitle: {
            text: 'Patient is a . \
                   Response score = \
                   Accuracy = '
        },
        
        legend: {
        	   
        	},
        
        xAxis: {
        	title: {
        		text: 'Response score'
        	},
        	min: 0,
        	max: 1,
            minPadding: 0.05,
            maxPadding: 0.05
        },
        
        yAxis:{
        	 title: {
                 text: "Ratio of patients(%)"
             }
        },

        
	
        });
	
 
    
	
});
function requestData{{treatment.id}}() {
	   $.post('/document/doc{{document.id}}/treat{{treatment.id}}/',
	    		{csrfmiddlewaretoken: '{{csrf_token}}'},
	    		function(data){
	    			
	    			acc = data['accuracy']
	    			if (parseFloat(acc)==1) acc='0.95'
	    			if(parseFloat(acc)<0.5) acc='Low'
	    			
	    			chart{{treatment.id}}.setTitle({text: data['treatment']},
	    				   {text: 'Patient is a '+data['responder']+'. \
 		                   Response score = '+ data['patient_votes']+ ' \
 		                   Specificity='+ data['specificity']+ ' \
 		                   Sensitivity='+ data['sensitivity']+ ' \
 		                   AUC='+ data['AUC']+ ' \
		                   Accuracy='+acc, style:{'font-weight':'bold'}} ,
		                   0);
	    			
	    			chart{{treatment.id}}.addSeries({
	    	              name: "Non-responders",
	    	              color: "#434348",
	    	              data: data['nres']
	    	            });
	    			chart{{treatment.id}}.addSeries({
	    	              name: "Responders",
	    	              color: "#7cb5ec",
	    	              data: data['res']
	    	            });
	    			
	    			$("#treatmentDetails{{treatment.id}}").html(' \
	    				      <div id="t_n_patients"><strong>Number of patients:</strong> '+ data["num_of_patients"]+'</div> \
	    				      <div id="t_hist"><strong>Histological type:</strong> '+ data["histological_type"]+'</div> \
	    				      <div id="t_grade"><strong>Grade:</strong> '+ data["grade"]+'</div> \
	    				      <div id="t_hormone"><strong>Hormone receptor status:</strong>'+ data["hormone_receptor_status"]+'</div> \
	    				      <div id="t_her2"><strong>HER2 status:</strong> '+ data["her2_status"]+'</div> \
	    				      <div id="t_stage"><strong>Stage:</strong> '+ data["stage"]+'</div> \
	    				      <div id="t_treatment"><strong>Treatment:</strong> '+ data["treatment"]+'</div> \
	    				      <div id="t_cit"><strong>Citation(s):</strong> '+ data["citation"]+'</div> \
	    				      <div id="t_org"><strong>Organization name:</strong> '+ data["organization_name"]+'</div>'
	    				      
	    					);
	    			
	    			var jsonArr = {
	    					'num_of_patients': data['num_of_patients'],
	    					'histological_type': data['histological_type'],
	    					'grade': data['grade'],
	    					'hormone_receptor_status': data['hormone_receptor_status'],
	    					'her2_status': data['her2_status'],
	    					'stage': data['stage'],
	    					'treatment': data['treatment'],
	    					'citation': data['citation'],
	    					'organization_name': data['organization_name'],
	    					'responder': data['responder'],
	    					'accuracy': data['accuracy']
	    			              }
	    			
	    			chart{{treatment.id}}.treat_details = jsonArr
	    			chart{{treatment.id}}.t_id = {{treatment.id}}
	    			
	    			// Fill Treatment Table
	    			
	    			er = data['hormone_receptor_status']
	    			if (er=='ER negative') er='ER-'
	    			if (er=='ER positive') er='ER+';
	    			
	    			her = data['her2_status']
	    			if (her=='negative') her='HER-';
	    			if (her=='positive') her='HER+';	    			
	    			rec = er+' '+her;
	    			
	    			acc = data['accuracy']
	    			if (parseFloat(acc)==1) acc='0.95';
	    			if(parseFloat(acc)<0.5) acc='Low';
	    			
	    			res = data['responder']
	    			if (res=='responder') {res='Yes';
	    			                       tr1='<tr class="success">';}
	    			if (res=='non-responder') {res='No';
	    			                         tr1='<tr>'
	    			}
	    			
	    			
	    			$('#treatmentTbl > tbody:last-child').append(tr1+'<td></td> \
	    			<td>'+data['treatment']+'</td> \
	    			<td>'+rec+'</td>\
	    			<td>'+res+'</td>\
	    			<td>'+acc+'</td>\
	    			</tr>');
	    			
	    		});
}

</script>
<hr style="height:2px; border:none;color:#000;background-color:#000;"/>
{%endfor%}



<script>

/**
 * Create a global exportCharts method that takes an array of charts as an argument,
 * and exporting options as the second argument
 */
Highcharts.exportCharts = function(charts, options) {
	var url = '/medic/generatefullreport/'
    var inputs = '';
    inputs+= '<input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}" />';

    // add the values
    Highcharts.each(charts, function(chart, i) {
    	
    	
    	
    	var svg = chart.getSVG();
    	
    	svg = svg.replace(/["]/g, "&quot;").replace(/[']/g, "&#39;");
    	
    	inputs+= '<input type="hidden" name="t_acc'+chart.t_id+'" value="'+ chart.treat_details.accuracy +'" />';
    	inputs+= '<input type="hidden" name="t_n_patients'+chart.t_id+'" value="'+ chart.treat_details.num_of_patients +'" />';
    	inputs+= '<input type="hidden" name="t_hist'+chart.t_id+'" value="'+ chart.treat_details.histological_type +'" />'; 
    	inputs+= '<input type="hidden" name="t_grade'+chart.t_id+'" value="'+ chart.treat_details.grade +'" />'; 
    	inputs+= '<input type="hidden" name="t_hormone'+chart.t_id+'" value="'+ chart.treat_details.hormone_receptor_status +'" />'; 
    	inputs+= '<input type="hidden" name="t_her2'+chart.t_id+'" value="'+ chart.treat_details.her2_status +'" />'; 
    	inputs+= '<input type="hidden" name="t_stage'+chart.t_id+'" value="'+ chart.treat_details.stage +'" />'; 
    	inputs+= '<input type="hidden" name="t_treatment'+chart.t_id+'" value="'+ chart.treat_details.treatment +'" />'; 
    	inputs+= '<input type="hidden" name="t_cit'+chart.t_id+'" value="'+ chart.treat_details.citation +'" />'; 
    	inputs+= '<input type="hidden" name="t_org'+chart.t_id+'" value="'+ chart.treat_details.organization_name +'" />';
    	inputs+= '<input type="hidden" name="t_responder'+chart.t_id+'" value="'+ chart.treat_details.responder +'" />';
    	inputs+= '<input type="hidden" name="svg'+chart.t_id+'" value="'+ svg +'" />';
    });
    
  //send request
    jQuery('<form action="'+ url +'" method="post">'+inputs+'</form>')
    .appendTo('body').submit().remove();
};
$(function(){
$('#export').click(function() {
    Highcharts.exportCharts([{%for treatment in treatments%}chart{{treatment.id}},{%endfor%}]);

});
});

$( document ).ajaxStop(function() {
	  $("#wait").fadeOut('slow', function(){
		  $("#export").fadeIn('slow');
	  });
	});

</script>
</div>

</div>

{%endblock%}