{% extends "base_profiles.html" %}

{% block title %}{{treatment.name}} | OncoFinder v2.0{% endblock %}

{% block content %}
<div class="container">
        <h1>{{treatment.name}}</h1>
        <div class="text-muted">
        Cancer type = {{treatment.nosology}}
        </div>
    <span class='pull-right'>
       <a href='{{ request.META.HTTP_REFERER }}'><<< back to treatment methods list</a>
    </span>
    <hr/>
   <div id="tabs">
    <ul class="nav nav-tabs">
        <li ><a href="#fragment-1" data-toggle="tab"><span>Information </span></a></li>
        <li ><a href="#fragment-2" data-toggle="tab"><span>Probability Table </span></a></li>
        <li><a href="#fragment-3" data-toggle="tab"><span>PAS1 Table</span></a></li>
        <li class="active"><a href="#fragment-4" data-toggle="tab"><span>Histogram</span></a></li>
        
    </ul>
<div id="tabContent" class="tab-content">
<div id="fragment-1" class="tab-pane fade  well">
      <div><strong>Name:</strong> {{treatment.name}}</div>
      <div><strong>Number of patients:</strong> {{treatment.num_of_patients}}</div>
      <div><strong>Histological type:</strong> {{treatment.histological_type}}</div>
      <div><strong>Grade:</strong> {{treatment.grade}}</div>
      <div><strong>Hormone receptor status:</strong> {{treatment.hormone_receptor_status}}</div>
      <div><strong>HER2 status:</strong> {{treatment.her2_status}}</div>
      <div><strong>Stage:</strong> {{treatment.stage}}</div>
      <div><strong>Treatment:</strong> {{treatment.treatment}}</div>
      <div><strong>Citation(s):</strong> {{treatment.citation}}</div>
      <div><strong>Organization name:</strong> {{treatment.organization_name}}</div>
</div>
<div id="fragment-2" class="tab-pane fade  well">
{{prob|safe}}
</div>
<div id="fragment-3" class="tab-pane fade well">
{{PMS1|safe}}
</div> 
<div id="fragment-4" class="tab-pane in active fade">
    <h4>
      <div style="float:left; width:15px; height:15px; background-color: red"></div>&nbsp; - 
      This patient is a {%if flag_responder == 0%}non-{%endif%}responder. Response score = {{patient_votes|floatformat:"-2"}}.
      Reliability = {{reliability|floatformat:"-2" }}.
    </h4>
<div id="container" style="width:900px; height:400px;">


</div>

<table class="table pull-left" style="width: 300px;">
<caption>Non-responders</caption>
<tr><th>num Responder Votes / all votes</th>
    <th>percentage of non-responders </th>
</tr>
{% for key, value in nres.items  %}
<tr>
               <td>{{key|floatformat:"-2"}}</td><td>{{value|floatformat:"-2"}}</td>
</tr>
               {%endfor%} 

</table>

<table class="table pull-right" style="width: 300px;">
<caption>Responders</caption>
<tr><th>num Responder Votes / all votes</th>
    <th>percentage of responders </th>
</tr>
{% for key, value in res.items  %}
<tr>
               <td>{{key|floatformat:"-2"}}</td><td>{{value|floatformat:"-2"}}</td>
</tr>
               {%endfor%} 

</table>

</div>






</div>
</div>


</div>
<style>
#fragment-1 div {margin: 10px 0;}

</style>
<script>

$(function () {
    $('#container').highcharts({
    	chart: {
            type: 'column'
        },
        title: {
            text: 'Responders/non-responders histogram'
        },
        
        xAxis: {
        	title: {
        		text: 'Response score'
        	},
            minPadding: 0.05,
            maxPadding: 0.05
        },
        
        yAxis:{
        	 title: {
                 text: "Ratio of patients(%)"
             }
        },

        series: [{
        	name: 'Non-responders',
            data: [
               {% for key, value in nres.items  %}
                {% if key == patient_votes and flag_responder == 0%}
                {x:{{key}}, y:{{value}}, color:'red'},
                {% else %}
                {x:{{key}}, y:{{value}}},
                {%endif%}
                
               {%endfor%} 
            ]
        },{
        name: 'Responders',
        data: [
			{% for key, value in res.items  %}
			{% if key == patient_votes and flag_responder == 1%}
            {x:{{key}}, y:{{value}}, color:'red'},
            {% else %}
            {x:{{key}}, y:{{value}}},
            {%endif%}
			{%endfor%} 
               ]}]
    });
});





</script>
{% endblock %}