{% extends "base_profiles.html" %}

{% block title %}Drugs database | OncoFinder v2.0{% endblock %}

{% block content %}
<div class="container">
    <h1>Drugs DataBase </h1>
    <span class="text-muted">
    Total ammount = <strong>{{allDrugs}}</strong>
    </span>
    <hr/>
   <div class="well">
<ul class='drugList unstyled'>
{% for drug in drugs %}
  <li>
     <div class='well'>
       <h4 ><a href='/db/drugs/{{drug.name|slugify}}/{{drug.id}}/'>{{drug.name}}</a></h4>
       <ul class='unstyled'>
         <li><b>Type:</b> {{drug.tip}}</li>
         <li><b>Targets:</b> {{drug.target_set.all|join:", "}}</li>
       </ul> 
     </div>
  </li>
{% endfor %}
</ul>
    
     {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
   </div>
</div>


{% endblock %}