{% extends "base_profiles.html" %}

{% block title %}Pathway database | OncoFinder v2.0{% endblock %}

{% block content %}
<div class="container">
    <h1> <img src='/static/images/laboratory_info.png' style="width: 100px;"/>Biochem DataBase </h1> 

    <table>
        <tr>
            <td class="of-table-key">Human:</td>
            <td class="of-table-value">
                <div class="btn-group btn-group-xs">
                    <button type="button" class="btn btn-primary human primary_old" onClick="location.href='/db/pathways/human/primary_old/'">Pr. old</button>
                    <button type="button" class="btn btn-primary human primary_new" onClick="location.href='/db/pathways/human/primary_new/'">Pr. new</button>
                    <button type="button" class="btn btn-primary human metabolism" onClick="location.href='/db/pathways/human/metabolism/'">Metabolism</button>
                    <button type="button" class="btn btn-primary human cytoskeleton" onClick="location.href='/db/pathways/human/cytoskeleton/'">Cytoskeleton</button>
                    <button type="button" class="btn btn-primary human kegg" onClick="location.href='/db/pathways/human/kegg/'">KEGG</button>
                    <button type="button" class="btn btn-primary human kegg_adjusted" onClick="location.href='/db/pathways/human/kegg_adjusted/'">KEGG adj</button>
                    <button type="button" class="btn btn-primary human nci" onClick="location.href='/db/pathways/human/nci/'">NCI</button>
                    <button type="button" class="btn btn-primary human biocarta" onClick="location.href='/db/pathways/human/biocarta/'">Biocarta</button>
                    <button type="button" class="btn btn-primary human reactome" onClick="location.href='/db/pathways/human/reactome/'">Reactome</button>
                </div>
                <div class="btn-group btn-group-xs">
                    <button type="button" class="btn btn-primary human sandbox" onClick="location.href='/db/pathways/human/sandbox/'">Sandbox</button>
                </div>
            </td>
        </tr><tr>
            <td class="of-table-key">Mouse:</td>
            <td class="of-table-value">
                <div class="btn-group btn-group-xs">
                    <button type="button" class="btn btn-primary mouse primary_old" onClick="location.href='/db/pathways/mouse/primary_old/'">Pr. old</button>
                    <button type="button" class="btn btn-primary mouse primary_new" onClick="location.href='/db/pathways/mouse/primary_new/'">Pr. new</button>
                    <button type="button" class="btn btn-primary mouse metabolism" onClick="location.href='/db/pathways/mouse/metabolism/'">Metabolism</button>
                    <button type="button" class="btn btn-primary mouse cytoskeleton" onClick="location.href='/db/pathways/mouse/cytoskeleton/'">Cytoskeleton</button>
                    <button type="button" class="btn btn-primary mouse kegg" onClick="location.href='/db/pathways/mouse/kegg/'">KEGG</button>
                    <button type="button" class="btn btn-primary mouse kegg_adjusted" onClick="location.href='/db/pathways/mouse/kegg_adjusted/'">KEGG adj</button>
                    <button type="button" class="btn btn-primary mouse nci" onClick="location.href='/db/pathways/mouse/nci/'">NCI</button>
                    <button type="button" class="btn btn-primary mouse biocarta" onClick="location.href='/db/pathways/mouse/biocarta/'">Biocarta</button>
                </div>
            </td>
        </tr>
    </table>

    <span class="text-muted">
    Total pathways: <strong>{{allPathways}}</strong>
    </span>
    {%if organism == 'mouse' %}
     | <a href="/mouse/mapping/">Human-mouse genes mapping</a>
    {%endif%}
        <div class="input-group col-lg-4 pull-right">
        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
        <input type="text" class="form-control" placeholder="Pathway name" id="pathway_search" >
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
        </span>
    </div>
    
    <hr/>
  
   <div class="well" id="path_list_container">
    <ul class="pathway_list_ul">
        {% for path in pathways %}
          <li>
              <div class="well">
              <div class="pull-left path_list_picture">
              <img src='/static/images/pathlist.jpg' alt='{{ path.name }}' title='{{ path.name }}'/>
              </div>
                <h5><a href='{{path.name|slugify}}/{{path.id}}'>{{ path.name }}</a></h5>
                 <div class="text-muted small">
                 AMCF:  <strong>{{path.amcf}}</strong><br/>
                 Genes: <strong>{{path.gene_set.count}}</strong> <br/>
                 Nodes: <strong>{{path.node_set.count}}</strong> <br/>
                 <!--  Components: <strong>40</strong> <br/>-->
                 </div>
                 
              </div>
          </li>
        {% endfor %}
    </ul>
    
     {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
   </div>
</div>

<script>
$(function(){
	
	//deal with buttons
	//$("button").hasClass("{{organism}}").hasClass("{{database}}").addClass("yoyoy");
	$("button.{{organism}}.{{database}}").removeClass("btn-primary").addClass("btn-active");
	
	
	$("#pathway_search").keyup(function(){ 
		autocompleteAjaxSearch(this, '{{organism}}', '{{database}}', $("#path_list_container"), "/db/pathways");
	});
	
});


</script>

{% endblock %}
