<div class="ajax_path">
AMCF = {{pathway.amcf}}

    <ul class="nav nav-tabs">
        <li ><a href="#fragment-1" data-toggle="tab"><span>Differential Genes </span></a></li>
        <li><a href="#fragment-2" data-toggle="tab"><span>Nodes and Components</span></a></li>
        <li><a href="#fragment-3" data-toggle="tab"><span>Dynamic Graphic Scheme</span></a></li>
        <li class="active"><a href="#fragment-4" data-toggle="tab"><span>Static Graphic Scheme</span></a></li>
    </ul>
    <div id="tabContent" class="tab-content">
		<div id="fragment-1" class="tab-pane fade in well">
		Total = {{diff_genes_count}}
		<small>
		{{joined|safe}}
		</small>
		</div>
		<div id="fragment-2" class="tab-pane fade well">
		Total = {{pathway.node_set.count}}
		    <div id='nodesAndComponents'>
		    <small>
		    <ul class='pathList'>
		    {% for node in pathway.node_set.all %}
		      <li><b>{{ node.name }}</b> 
		        <ul >
		          {% for component in node.component_set.all %}
		      <li>{{ component.name }}</li>
		          {% endfor %}
		        </ul></li>
		    {% endfor %}
		    </ul>
		    </small>
		    </div>
		</div> 
		<div id="fragment-3" class="tab-pane fade ">
		<div id="chart2" class="chart" style="width:860px;">
              <div class="description">Scheme of "{{pathway.name}}" pathway</div>        
    </div> 

    <script>
    var G2 = jsnx.DiGraph();

    G2.add_nodes_from([
                       {% for node in colorNodes %}
                       ['{{node.name}}', {color: '{{node.color}}', strwidth: {{node.strokeWidth}} }],
                       {% endfor%}
                       ]);

    G2.add_edges_from([
            {% for dict in dRelations %}
            
    		{% for key, value in  dict.items %}
    		['{{key}}','{{value.0}}', {color: '{{value.1}}'}],
    		{% endfor %}
    		{% endfor %}
    ], {color: "grey"});

    //G2.add_edges_from([[1,9], [9,1]]);

    jsnx.draw(G2, {
        element: '#chart2', 
        with_labels: true,
        'layout_attr': {
            'charge': -250,
            'linkDistance': 60
         },
         node_style: {
             fill: function(d) { 
                 return d.data.color; 
             },
             'stroke-width':  function(d){ return d.data.strwidth; },
             stroke: '#000'
         },
         edge_style: { fill: function(d){ return d.data.color; }, 'stroke-width': 5 },
         label_style: {fill: 'black', 'font-size':'12px', 'text-anchor': 'middle',
             'dominant-baseline': 'top', 'font-weight': 'bold' },
        
    }, true);
    </script>
 <div style="">
   <small>
   <table class="table table-bordered  table-striped">
      <tr><th>Node</th><th>NEL = 1\n * &#931 CNR</th><th>Color</th></tr>
          {% for node in colorNodes %}
          <tr><td>{{node.name}}</td><td>{{node.nel}}</td><td style="color:{{node.color}}">{{node.color}}</td></tr>
          {% endfor %}
   </table>
   </small>
 </div>
</div>

<div id="fragment-4" class="tab-pane active well">
  <div class="form-group-sm form-inline">
    Scale:
    <div class="btn-group" role="group" aria-label="...">

      <button type="button" class="btn btn-default {%if scale == 'default'%}active{%endif%}" onClick="fetchPathwayDetails({{pathway.id}}, '{{pathway.name}}', 'default')">Default</button>
      <button type="button" class="btn btn-default {%if scale == '0.5'%}active{%endif%}" onClick="fetchPathwayDetails({{pathway.id}}, '{{pathway.name}}', 0.5)">[-0.5, 0.5]</button>
      <button type="button" class="btn btn-default {%if scale == '1'%}active{%endif%}" onClick="fetchPathwayDetails({{pathway.id}}, '{{pathway.name}}', 1)">[-1, 1]</button>
      <button type="button" class="btn btn-default {%if scale == '2'%}active{%endif%}" onClick="fetchPathwayDetails({{pathway.id}}, '{{pathway.name}}', 2)">[-2, 2]</button>
      <button type="button" class="btn btn-default {%if scale == '5'%}active{%endif%}" onClick="fetchPathwayDetails({{pathway.id}}, '{{pathway.name}}', 5)">[-5, 5]</button>
      <button type="button" class="btn btn-default {%if scale == '10'%}active{%endif%}" onClick="fetchPathwayDetails({{pathway.id}}, '{{pathway.name}}', 10)">[-10, 10]</button>

    </div>
    &nbsp;
    Custom:
    <input type="number" class="form-control" id="range_input"
      title="Scale is [-value, value]"
      value="{%if scale != 'default'%}{{scale}}{%else%}1{%endif%}"
      onkeypress="if (event.keyCode == 13) document.getElementById('set_range_button').click()"
      min=0
    />
    <button type="button" class="btn btn-default" id="set_range_button" onClick="fetchPathwayDetails({{pathway.id}}, '{{pathway.name}}', $('#range_input').val())">Set</button>
  </div>

  <hr/>
    
  <a target="_blank" href='/media/pathway.svg?path={{pathway.name}}&r={{rand}}' >
    <img src='/media/pathway.svg?path={{pathway.name}}&r={{rand}}' style="width:100%"/>
  </a>
    
  <hr/>
  <img src='/media/path_scale.png?path={{pathway.name}}&r={{rand}}' style="width:100%"/>

</div>
    
</div>
</div>
