{% extends "base_profiles.html" %}

{% block title %}{{ document.get_filename }} | OncoFinder v2.0{% endblock %}

{% block content %}
<div class="container">
  <h2>
    <span class="glyphicon glyphicon-user"></span>
    <a href="/user/{{document.project.owner}}">{{document.project.owner}}</a> /
     <span class="glyphicon glyphicon-folder-open"></span>&nbsp; 
     <a href="/project/{{document.project}}">{{document.project}}</a> /
     <span class="glyphicon glyphicon-file"></span>
     <small><a href="">{{document.get_filename}}</a></small>
     <span class="text-muted">| <small>{{document.get_doc_type_display}}</small></span> 
  </h2>
  <span class="text-muted">
    Created at: {{document.created_at}}<br/>
    By: {{document.created_by}}<br/>
    <span>Samples: </span><span>{{document.sample_num}}</span> | 
    <span>Norms: </span><span>{{document.norm_num}}</span> | 
    <span>Rows: </span><span>{{document.row_num}}</span>  
   </span>
  
  <a class="btn btn-default btn-sm pull-right" href="{% url 'core_set_calculation_parameters' document.id %}">
               <span class="glyphicon glyphicon-play"></span> &nbsp;<b>Start calculation</b>
           </a>
           
  <hr/>
  <div>
   

  </div>
  
  <div class="wrapper1">
    <div class="upper_scroll"></div>
  </div>
  <div class="wrapper2">
  {{test|safe}}
  </div>
 
  
</div>
<script>

$(function(){
	$("table.dataframe").attr("border", "0").addClass("table table-hover of-table");
});
$(function(){
	$(".upper_scroll").width($(".wrapper2 > table").width());
	  $(".wrapper1").scroll(function(){
	    $(".wrapper2").scrollLeft($(".wrapper1").scrollLeft());
	  });
	  $(".wrapper2").scroll(function(){
	    $(".wrapper1").scrollLeft($(".wrapper2").scrollLeft());
	  });
	});

</script>
{% endblock %}