{% extends "base_profiles.html" %}

{% block title %}{{ document.get_filename }} | OncoFinder v2.0{% endblock %}

{% block content %}
<div class="container">
  <h2>
    <span class="glyphicon glyphicon-user"></span>
    <a href="/user/{{document.project.owner}}">{{document.project.owner}}</a> /
     <span class="glyphicon glyphicon-folder-open"></span>&nbsp; 
     <a href="/project/{{document.project}}">{{document.project}}</a> /
     <span class="glyphicon glyphicon-file"></span>
     <small><a href="">{{document.get_filename}}</a></small>
     <span class="text-muted">| <small>{{document.get_doc_type_display}}</small></span> 
  </h2>
  <span class="text-muted">
    Created at: {{document.created_at}}<br/>
    By: {{document.created_by}}<br/> 
   </span>
      
           
  <hr/>
  <div>  

  </div>


<a class="btn btn-default  pull-right" href="report/">
      <span class="glyphicon glyphicon-play"></span> &nbsp;<b>Show full report</b>
     </a>
<h2>Treatment methods:</h2>
<ul class="pathway_list_ul">
    {%for treatment in treatments%}
        <li>
          <div class="well">
          <h5><a href="treat{{treatment.id}}/" >{{treatment}}</a></h5>
           {{treatment.treatment}}
          </div>
        </li>
{%endfor%}
</ul>







  
  
 
  
</div>
<script>

$(function(){
	
	$("#btn_all_path").click(function(){
		if($("#all_paths").not(":visible") ) {
			$("#all_tumours").fadeOut("fast", function(){
				$("#all_paths").fadeIn("slow");
			});
		}		
	});
	
	$("#btn_all_tumour").click(function(){
		if($("#all_tumours").not(":visible") ) {
			$("#all_paths").fadeOut("fast", function(){
				$("#all_tumours").fadeIn("slow");
			});
			
		}
	});
	
});

$(function(){
	$("table.dataframe").attr("border", "0").addClass("table table-hover of-table");
});
$(function(){
	$(".upper_scroll").width($(".wrapper2 > table").width());
	  
	$(".wrapper1").scroll(function(){ 
	    $(".wrapper2").scrollLeft($(this).scrollLeft());
	  });
	  
	$(".wrapper2").scroll(function(){
	    $(".wrapper1").scrollLeft($(this).scrollLeft());
	  });
	});

</script>
{% endblock %}