{% extends "base_profiles.html" %}

{% block title %}{{ document.get_filename }} | OncoFinder v2.0{% endblock %}

{% block content %}
<div class="container">
  {% if form.errors %}
  <div class="alert alert-danger">
    <i class="glyphicon glyphicon-warning-sign"></i>
    Your form has some errors. Please try again.
  </div>
  {% endif %}
  
  <div class="panel panel-primary login_panel">
    <div class="panel-heading">
      <h3 class="panel-title">Calculation parameters</h3>
    </div>
    <div class="panel-body">
       <form class="" role="form" action="" method="post"  id="calculation_parameters_form">
          {% csrf_token %}       
          <div class="form-group">
            {{ form.sigma_num.label_tag }}
            {{ form.sigma_num }}
          
            {{ form.use_sigma.label_tag }}
            {{ form.use_sigma }}
            <br/><br/>
          
          {{ form.cnr_low.label_tag }}
          {{ form.cnr_low }}
          
          {{ form.cnr_up.label_tag }}
          {{ form.cnr_up }}
          
          {{ form.use_cnr.label_tag }}
          {{ form.use_cnr }}
          </div>
          
    </div>
    <div class="panel-footer">
      <button class="btn btn-default" data-loading-text="Calculating..." id="startButton">Start Calculation</button>
      
          <img src="/media/images/ajax-loader.gif" id="loader" style="margin: 10px 0 0 0; display:none" class="pull-right" />
     
    </div>
  </div>
</div>

<script>
$(function() {
	
	$('#startButton').click(function () {
	    var btn = $(this)
	    btn.button('loading');
	    $("#loader").fadeIn();
	    

	  });
	
               //$("#calculation_parameters_form > input[type=number]").addClass("form-control").width("50px");
});
</script>

{%endblock%}