{% extends "base_profiles.html" %}

{% block title %}{{ document.get_filename }} | OncoFinder v2.0{% endblock %}

{% block content %}
<div class="container">

  <h2>
    <span class="glyphicon glyphicon-user"></span>
    <a href="/user/{{document.project.owner}}">{{document.project.owner}}</a> /
     <span class="glyphicon glyphicon-folder-open"></span>&nbsp; 
     <a href="/project/{{document.project}}">{{document.project}}</a> /
     <span class="glyphicon glyphicon-file"></span>
     <small><a href="/document/doc{{document.id}}">{{document.get_filename}}</a></small>
     <span class="text-muted">| <small>{{document.get_doc_type_display}}</small></span> 
  </h2>

  {% if form.errors %}
  <div class="alert alert-danger">
    <i class="glyphicon glyphicon-warning-sign"></i>
    Your form has some errors. Please try again.
  </div>
  {% endif %}
  
  <div class="panel panel-primary login_panel">
    <div class="panel-heading">
      <h3 class="panel-title">Calculation parameters</h3>
    </div>
    <div class="panel-body">
       <form class="form-horizontal" role="form" action="" method="post"  id="calculation_parameters_form">
          {% csrf_token %}
          <small>
         <!-- MEDICAL FORM -->
          {% if document.project.field = 'med' %}
          {{form.hormone_status.label_tag}} &nbsp;&nbsp;&nbsp;
          {{form.hormone_status}}
          <br/>
          {{form.her2_status.label_tag}} &nbsp;&nbsp;&nbsp;
          {{form.her2_status}}
          {% else %}
          <!-- OF GENE EXPRESSION -->
          <div class="form-group form-group-sm">
          <div class="col-sm-10">
          {{ form.db_choice.label_tag }}
          </div>
          {% for db in form.db_choice %}
	      <label for="{{ db.id_for_label }}" class="checkbox-inline">
	        {{ db.tag }}
	        {{ db.choice_label }}
	      </label>
	     {% endfor %}
	     </div>
          
          <div class="form-group form-group-sm">
          <div class="col-sm-10">
          {{ form.norm_choice.label_tag }}
          </div>
          {% for radio in form.norm_choice %}
	      <label for="{{ radio.id_for_label }}" class="checkbox-inline">
	        {{ radio.tag }}
	        {{ radio.choice_label }}
	      </label>
	     {% endfor %}
	     </div>
          <hr/>
          {% if document.doc_format != 'OF_cnr' %}
          <div class="form-group form-group-sm">
            <label for="{{ form.pvalue_num.auto_id }}" class="col-sm-4 control-label">{{ form.pvalue_num.label }}</label>            
            <div class="col-sm-8">
                
                {{ form.use_ttest.label_tag }}&nbsp;&nbsp;
                {{ form.use_ttest }}
                {{ form.use_fdr.label_tag }}&nbsp;&nbsp;
                {{ form.use_fdr }}
                {{ form.use_ttest_1sam.label_tag }}&nbsp;&nbsp;
                {{ form.use_ttest_1sam }}
            </div>
          </div>
          {% endif %}
          
          <div class="form-group form-group-sm">
            <label for="{{ form.cnr_low.auto_id }}" class="col-sm-4 control-label">{{ form.cnr_low.label }}</label>            
            <div class="col-sm-8">
                {{ form.cnr_low }}
            </div>
          </div>
          <div class="form-group form-group-sm">
            <label for="{{ form.cnr_up.auto_id }}" class="col-sm-4 control-label">{{ form.cnr_up.label }}</label>            
            <div class="col-sm-8">
                {{ form.cnr_up }}
                {{ form.use_cnr.label_tag }}&nbsp;&nbsp; 
                {{ form.use_cnr }}
            </div>
          </div>
          {% if document.doc_format != 'OF_cnr' %}
          <div class="form-group form-group-sm">
            <label for="{{ form.sigma_num.auto_id }}" class="col-sm-4 control-label">{{ form.sigma_num.label }}</label>            
            <div class="col-sm-8">
                {{ form.sigma_num }}
                {{ form.use_sigma.label_tag|safe }}&nbsp;&nbsp;
                {{ form.use_sigma }}
            </div>
          </div>
          {%endif%}
          <hr/>
          <div class="form-group form-group-sm">
            <div class="col-sm-10">
              <label>Include in the report following values: 
                     <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"  data-placement="top" 
                                             title="Here will be description of what PMS and DS means"  ></span>
              </label>
              <div>
                {{ form.calculate_pas.label_tag }}&nbsp; 
                {{ form.calculate_pas }} &nbsp;&nbsp;
                {{ form.calculate_pas1.label_tag }}&nbsp; 
                {{ form.calculate_pas1 }}&nbsp;&nbsp;
                {{ form.calculate_pas2.label_tag }}&nbsp; 
                {{ form.calculate_pas2 }}&nbsp;&nbsp;<br/>
                {{ form.calculate_ds1.label_tag }}&nbsp; 
                {{ form.calculate_ds1 }}&nbsp;&nbsp;
                {{ form.calculate_ds2.label_tag }}&nbsp; 
                {{ form.calculate_ds2 }}
                {{ form.calculate_ds3.label_tag }}&nbsp; 
                {{ form.calculate_ds3 }}<br/>
                {{ form.calculate_norms_pas.label_tag }}&nbsp;
                {{ form.calculate_norms_pas }}<br/>
                {{ form.calculate_pvalue_each.label_tag }}&nbsp;
                {{ form.calculate_pvalue_each }}<br/>
                {{ form.calculate_pvalue_all.label_tag }}&nbsp;
                {{ form.calculate_pvalue_all }}
                {{ form.new_pathway_names.label_tag }}&nbsp;
                {{ form.new_pathway_names }}
      
      </small>
                
              </div>                                   
            </div>
          </div> 
          
         {%endif%} 
          
    </div>
    <div class="panel-footer">
      <button class="btn btn-primary" data-loading-text="Calculating..." id="startButton">Start Calculation</button>
      
          <img src="/static/images/ajax-loader.gif" id="loader" style="margin: 10px 0 0 0; display:none" class="pull-right" />
     
    </div>
  </div>
</div>

<script>
$(function() {
	
	$('#startButton').click(function () {
	    var btn = $(this)
	    btn.button('loading');
	    $("#loader").fadeIn();
	    

	  });
	
	// disable DS1 and DS2 if Metabolism DB was selected
    $("#calculation_parameters_form").click(function(){ 
    	var checked = $("input[type='radio'][name='db_choice']:checked");
    	if(checked.val() == 2){ 
    		$("#id_calculate_ds1").prop('checked', false).prop('disabled', true);
    		$("#id_calculate_ds2").prop('checked', false).prop('disabled', true);
    	}
    	else{
    		$("#id_calculate_ds1").prop('disabled', false);
    		$("#id_calculate_ds2").prop('disabled', false);
    	}
    });
});
</script>

{%endblock%}