{% extends "base_profiles.html" %}

{% block title %}Shambhala | OncoFinder v2.0{% endblock %}

{% block content %}
<div class="container">

  <h1>
  <img src='/static/images/tablet.png' style="width: 100px;"/>
    Shambala 
  </h1>
  <a href="{% url 'harmony_form' %}" class="btn btn-primary btn-sm pull-left">Harmonisation</a>
  <a href="{% url 'shambala_done' %}" class="btn btn-default  btn-sm pull-right">Previously calculated files</a>
  <div style="clear:both; padding: 1px"></div>
  <hr/>
  {% if form.errors %}
  <div class="alert alert-danger">
    <i class="glyphicon glyphicon-warning-sign"></i>
    Your form has some errors: <br/>
    {% for field, errors in form.errors.items %}
    {{field}}: {{errors}}
    {%endfor%}
  </div>
  {% endif %}
  
  
    
    
  <div class="panel panel-primary login_panel">
    <div class="panel-heading">
      <h3 class="panel-title">Shambala</h3>
    </div>
    <div class="panel-body">

    <form class="form-horizontal" role="form" action=""
          method="post" enctype="multipart/form-data"  >
          {% csrf_token %}
          <input type='hidden' name='harmony_type' id="id_xpn_type" value='harmony_equi' />

          <small>
          {{ form.document.label_tag }} {{ form.document }} <br/><br/>
          {{ form.auxiliary.label_tag }} {{ form.auxiliary }}<br/>
          {{ form.log_scale.label_tag }}&nbsp;&nbsp;{{ form.log_scale }}<br/>
          {{ form.random_seed.label_tag }} {{ form.random_seed }}<br/><br/>
          </small>

    </div>
    <div class="panel-footer">
      <button class="btn btn-primary" data-loading-text="Calculating..." id="startButton">Start Shambala</button>
      
          <img src="/static/images/ajax-loader.gif" id="loader" style="margin: 10px 0 0 0; display:none" class="pull-right" />
     
    </div>
  </div>
</div>

<script>
$(function() {
	
	$("#id_db_choice").css({"height":"100px"});
	$("#id_db_choice_drug").css({"width":"145px", "height":"100px" });
	
	
	$('#startButton').click(function () {
	    var btn = $(this)
	    btn.button('loading');
	    $("#loader").fadeIn();
	    

	  });
	
});

</script>

{%endblock%}
