{% extends "base_profiles.html" %}

{% block title %}TEST | OncoFinder v2.0{% endblock %}

{% block content %}
<div class="container">

<h1>Testing Playground</h1>
<h2>{{testvar}}</h2>

total paths = {{paths|length}}
<table class="table" >
{%for path in paths%}
<tr><td>{{path}}</td></tr>
{%endfor%}
</table>

SET FOREIGN_KEY_CHECKS = 0; 
TRUNCATE core_pathway; 
TRUNCATE core_gene; 
TRUNCATE core_node; 
TRUNCATE core_component; 
SET FOREIGN_KEY_CHECKS = 1;




</div>

<script type="text/javascript">



$(function(){
	
	
	var PollState = function(task) {
		
		$.ajax({
			type: "POST",
			url: "/task_status/",
			data: {
				   task_id: task
				   }
		}).fail(function(event, jqxhr, settings, thrownError ) {
			  alert( jqxhr + settings );})
		.done(function(data){ console.log(data);
		                      if(data['state']!="SUCCESS"){
		                    	  console.log(data['state']);
		                    	  setTimeout(function(){PollState(task);}, 10000);
		                      }
		                      else {
		                    	  console.log(data['state'] + " Task done!!!");
		                      }
		                      
		});
		
		
	
	}
	
	//PollState("{{task_id}}");
	
	testfunc = function(txt){
		var dt = new Date();
		var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds()
		console.log(time + txt);
		setTimeout(function(){testfunc(txt);}, 5000);
		
	}
	//testfunc("maza fakkka")
	
	
});


</script>

{%endblock%}