{% extends "base_profiles.html" %}

{% block title %}TEST | OncoFinder v2.0{% endblock %}

{% block content %}
<div class="container">

<h1>Testing Playground</h1>


<h5>{{summ}}</h5>
<table border=1>
{% for drug, dicttar in drugs.items%}
<tr>
<td>{{drug}}</td>
<td>
<table border=1>
{%for target, pathways in dicttar.items %}
<tr><td>{{target}}</td>
<td><ul>
{%for path in pathways%}
<li>{{path.name}}</li>
{%endfor%}
</ul>
</td></tr>

{%endfor%}
</table>
</td>

</tr>


{%endfor%}
</table>







</div>

{%endblock%}