{% extends "base_profiles.html" %}

{% block title %}{{ project.name }} | OncoFinder v2.0{% endblock %}

{% block content %}
<div class="container">
  <h2>
    <span class="glyphicon glyphicon-user"></span>
    <a href="/user/{{project.owner}}">{{project.owner}}</a> /
     <span class="glyphicon glyphicon-folder-open"></span>&nbsp; 
     <a href="">{{project.name}}</a> <span class="text-muted">| <small>{{project.get_status_display}}</small></span>
  </h2>
  <div class="text-muted">Created at: {{project.created_at}}</div>
  <div class="text-muted">Type: {{project.get_field_display}}</div>
  <hr/>
  <h5>{% if project.description %}
                               {{project.description}}
      {%else%}No description avaliable for this project.
      {%endif%}</h5>

  <div class="panel panel-default">
        <div class="panel-heading">
        <button class="btn btn-default btn-sm pull-right" data-toggle="modal" data-target="#uploadFormModal">
               <span class="glyphicon glyphicon-upload"></span> &nbsp;Upload new document
           </button>
          <h3 class="panel-title " style="padding: 6px 0">Documents </h3>
        </div>
        <div class="panel-body">
        
          <table id="project_doc_table" class="table table-hover of-table">
            <tr class="bg-primary">
              <th>Document</th><th>Type</th><th>Information</th><th>Date</th>
              <th>Description</th><th></th>
            </tr>
            
            {% for doc in documents %}
            <tr  id="doc{{doc.id}}"
            {% if doc.get_doc_type_display == 'input' %}
            class="info"
            {% else %}
            class="success"
            {% endif %}
            >
              <td>
              <span class="glyphicon glyphicon-file"></span>
              <strong><a href="/document/doc{{doc.id}}/">{{doc.get_filename}}</a></strong>
                  <br/><br/>
                  Created by: <strong><i>{{doc.created_by}}</i></strong></td>
              <td>
                 {% if doc.get_doc_type_display == 'input' %}
                 <span class="glyphicon glyphicon-log-in"></span>
                 {% else %}
                 <span class="glyphicon glyphicon-log-out"></span>
                 {% endif %} 
                 <strong><i>
                 {{doc.get_doc_type_display}}
                 </i></strong>
                 {% if doc.get_doc_type_display == 'input' %}
                 <br/><br/>{{doc.get_doc_format_display}}
                 {%endif%}
              </td>
              <td>
              <small>
                  {% if doc.get_doc_type_display == 'input' %}
                     Samples: <strong>{{doc.sample_num}}</strong><br/>
                     Norms: <strong>{{doc.norm_num}}</strong><br/>
                     Rows: <strong>{{doc.row_num}}</strong>
              </small>
              </td>
                  {% else %}
                       Organism: <strong>{{doc.parameters.organism}}</strong>
                       <br/>Pathway DB: <strong>{{doc.parameters.db| join:", "}}</strong>
                       <!--  <br/> Normal: <strong>{{doc.parameters.norm_algirothm}}</strong>-->
                      {%if doc.parameters.use_ttest%}
                      <br/>Distribution T-test: <strong>yes</strong>
                      {%endif%}
                      {%if doc.parameters.use_ttest_1sam%}
                      <br/>T-test 1 sample: <strong>yes</strong>
                      {%endif%}
                      {%if doc.parameters.use_fdr%}
                      <br/>Benjamini FDR: <strong>yes</strong>
                      {%endif%} 
                      {%if doc.parameters.use_new_fdr%}
                      <br/>Storey FDR: <strong>yes</strong>
                      {%endif%}  
                      {%if doc.parameters.use_sigma%}
                          <br/>Use sigma: <strong>{{doc.parameters.use_sigma}}</strong> <br/>
                        &nbsp;&nbsp;&nbsp;Sigma amount = <strong>{{doc.parameters.sigma_num}}</strong> <br/>
                      {% endif %}
                      {% if doc.parameters.use_cnr %}
                      <br/>
                      <strong>{{doc.parameters.cnr_low}}</strong> > CNR > <strong>{{doc.parameters.cnr_up}}</strong>
                      {% endif %}
                  {% endif %}
                 
              
              </small>
              </td>
              <td>Created at: <strong>{{doc.created_at}}</strong><br/>
                  {% if doc.get_doc_type_display == 'input' %}
                      Last calculated at: <strong>{{doc.calculated_at}}</strong><br/>
                      Last calculated by: <strong>{{doc.calculated_by}}</strong></td>
                  {% endif %}
              <td>{{doc.description}}</td>
              <td><button type="button" class="close pull-right with-tooltip" 
                     aria-hidden="true"   data-placement="bottom" 
                     data-toggle="modal"  title="Delete"
                     doc-name="{{doc.get_filename}}" doc-id="{{doc.id}}" 
                     data-target="#deleteModal"
                     style="margin: 0 20px 0 0 ">&times;
                   </button>
              </td>
            
            </tr>           
            {% empty %}
            <tr><td>No documents found</td></tr>
            {% endfor %}
            
          
          </table>
        
        
        </div>
  </div>

</div>

<!-- Upload new file Modal -->
<div class="modal fade" id="uploadFormModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Upload new document</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-warning">
         <h4>Important!</h4>
	      Accepted file formats are: <b>CSV, TXT, XLS, XLSX</b> with delimeters <b>\t , ;</b> <br/>
	      Files should have names in English letters only! <br/>
	      Column with gene names should be called <strong>SYMBOL</strong> <br/>
	      Columns with Samples should contain <strong>"Tumour"</strong> in it's name <br/>
	      Columns with Norms should contain <strong>"Norm"</strong> in it's name <br/>
	      If an error occurs, please contact OncoFinder administration.
        </div>
        <form action="/document/new/" id="doc_create_form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" data-loading-text="Uploading..." id="uploadButton">Upload</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Delete project Modal -->
<div class="modal fade bs-example-modal-sm" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Delete document</h4>
      </div>
      <div class="modal-body alert alert-danger">
        Are you sure you want to delete <strong id="doc_name">test</strong> document? 
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" id="confirm_doc_delete">Delete</button>
      </div>
    </div>
  </div>
</div>


<script>
$(function(){
	$("#doc_create_form > input[type=text], textarea").addClass("form-control");
	$('#uploadButton').click(function () {
	    	    
	    var errors = 0;
	    var arErrors = []
	    
	    var doc_format = $("#id_doc_format"); 
	    var doc_file = $("#id_document");
	    if (doc_format.val() == ''){
	    	errors++;
	    	arErrors.push("Please choose file format.");
	    }
	    if(doc_file.val()==''){
	    	errors++;
	    	arErrors.push("Please select file to upload.");	    	
	    }
	    
	    if(errors>0){
	    	alert(arErrors.join('\n'));
	    	return false;
	    }
	    else{
	    	var btn = $(this)
		    btn.button('loading');
	    	return true;
	    }
	    
	    
	    

	  });
});

<!-- Show/Hide Norms file choice in case of Custom Array File -->
$(function(){
	$("#id_norms_file").hide();
	$("label[for='id_norms_file']").hide();
	
	$("select#id_doc_format").change(function(){
	    if($("option[value=CustomArray]").is(":selected")){
	    	     $("#id_norms_file").show();
	    	     $("label[for='id_norms_file']").show();
	    } else { $("#id_norms_file").hide();
		          $("label[for='id_norms_file']").hide(); } 
	});
	
});

<!-- DELETE file Dialog show event handler -->
$('#deleteModal').on('show.bs.modal', function (e) {

    $doc_name = $(e.relatedTarget).attr('doc-name');
    $(this).find('.modal-body #doc_name').text($doc_name);
    $doc_id = $(e.relatedTarget).attr('doc-id');
    
    
    $(this).find('.modal-footer #confirm_doc_delete').data('doc_id', $doc_id);
});

<!-- Form confirm (yes/ok) handler, submits form -->
$('#deleteModal').find('.modal-footer #confirm_doc_delete').on('click', function(){
	  
	  var csrftoken = getCookie('csrftoken');


    $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    
    var doc_id = $('#deleteModal').find('.modal-footer #confirm_doc_delete').data('doc_id');
    
    $.post('/document/delete/'+doc_id+'/', function(data) {
        if (data.result == "ok"){
            
      	  $('#deleteModal').modal('hide');
      	  $('#doc'+doc_id).fadeOut('slow');
      	  
        } else {
            // handle error processed by server here
            alert("smth goes wrong");
        }
    }).fail(function() {
        // handle unexpected error here
        alert("error");
    });
    return false;
    
});
</script>
{% endblock %}