{% extends "base_profiles.html" %}

{% block title %}{{ document.get_filename }} | OncoFinder v2.0{% endblock %}

{% block content %}
<div class="container">
  <h2>
    <span class="glyphicon glyphicon-user"></span>
    <a href="/user/{{document.project.owner}}">{{document.project.owner}}</a> /
     <span class="glyphicon glyphicon-folder-open"></span>&nbsp; 
     <a href="/project/{{document.project}}">{{document.project}}</a> /
     <span class="glyphicon glyphicon-file"></span>
     <small><a href="">{{document.get_filename}}</a></small>
     <span class="text-muted">| <small>{{document.get_doc_type_display}}</small></span> 
  </h2>
  <span class="text-muted">
    Created at: {{document.created_at}}<br/>
    By: {{document.created_by}}<br/>
    {% if document.doc_type == 1 %}
    <span>Samples: </span><span>{{document.sample_num}}</span> | 
    <span>Norms: </span><span>{{document.norm_num}}</span> | 
    <span>Rows: </span><span>{{document.row_num}}</span>
    {%endif%}  
   </span>
  {% if document.doc_type == 1 %}
    <a class="btn btn-default btn-sm pull-right" href="{% url 'mirna_set_calculation_parameters' document.id %}">
      <span class="glyphicon glyphicon-play"></span> &nbsp;<b>Start calculation</b>
     </a>
   {% else %}
   
   <a class="btn btn-default btn-sm pull-right" style="margin-left: 20px;" href="{{MEDIA_URL}}{{document.document}}">
      <span class="glyphicon glyphicon-download"></span> &nbsp;<b>Download PMS-DS file</b>
     </a>
     <a class="btn btn-default btn-sm pull-right" href="{{MEDIA_URL}}{{document.related_doc.input_doc.document}}">
      <span class="glyphicon glyphicon-download-alt"></span> &nbsp;<b>Download CNR file</b>
     </a>
     
   {% endif %}
  <br/>         
  <hr/>
  <div>  

  </div>
{% if document.doc_type == 1%}
<div class="wrapper1">
        <div class="upper_scroll"></div>
       </div>
       <div class="wrapper2">
          {{input|safe}}
       </div>
{% else %}

<div id="all_paths" class="out_doc_container"> 
	<!-- Nav tabs -->
	<ul class="nav nav-tabs">
	  {% if miPAS %}
	  <li class="active"><a href="#miPAS" data-toggle="tab">miPAS</a></li>
	  {% endif %}
	  {% if miPI %}
	  <li><a href="#miPI" data-toggle="tab">miPI</a></li>
	  {% endif %}
	</ul>
	
	<div class="tab-content">
	{% if miPAS %}
	  <div class="tab-pane fade in active" id="#miPAS">
	      
	      <div class="wrapper1">
	        <div class="upper_scroll"></div>
	       </div>
	       <div class="wrapper2">
	          {{miPAS|safe}}
	       </div>
	  
	  </div>
	  {% endif %}
	  {% if miPI %}
	  <div class="tab-pane fade" id="miPI">
	  
	     <div class="wrapper1">
	        <div class="upper_scroll"></div>
	       </div>
	       <div class="wrapper2">
	          {{miPI|safe}}
	       </div>
	  
	  </div>
	  {% endif %}
	  
	</div>
</div>
<div id="all_tumours" class="out_doc_container" >

<ul class="list-group">
{% for tumour in tumour_cols %}
    <li class="list-group-item""> 
      <a href="{{tumour}}/">{{tumour}}</a>
    </li>
{% endfor %} 

</ul>


</div> 

{% endif %}
  
  
 
  
</div>
<script>

$(function(){
	
	$("#btn_all_path").click(function(){
		if($("#all_paths").not(":visible") ) {
			$("#all_tumours").fadeOut("fast", function(){
				$("#all_paths").fadeIn("slow");
			});
		}		
	});
	
	$("#btn_all_tumour").click(function(){
		if($("#all_tumours").not(":visible") ) {
			$("#all_paths").fadeOut("fast", function(){
				$("#all_tumours").fadeIn("slow");
			});
			
		}
	});
	
});

$(function(){
	$("table.dataframe").attr("border", "0").addClass("table table-hover of-table");
});
$(function(){
	$(".upper_scroll").width($(".wrapper2 > table").width());
	  
	$(".wrapper1").scroll(function(){ 
	    $(".wrapper2").scrollLeft($(this).scrollLeft());
	  });
	  
	$(".wrapper2").scroll(function(){
	    $(".wrapper1").scrollLeft($(this).scrollLeft());
	  });
	});

</script>
{% endblock %}